<div style="height: 490px;" 
class="flex flex-column justify-center align-center h-100 family-info"
id="found-beneficiary"
>
  <div class="verified-icon">
    <img src="/assets/images/svgs/shield.svg" alt="verified icon" />
  </div>
  <img id="familyPicture" src="" alt="Family" />
</div>

<div *ngIf="stage == '1'" class="inner-modal">
  <div class="inner-modal-content flex flex-column align-center text-center">
    <div class="para-title">
      {{ familyThatWillBenefit?.family_name }} Family
    </div>

    <button (click)="stage = '4'" class="ui button primary basic mt-4">
      Transfer N{{ familyThatWillBenefit?.amount_given }}
    </button>
    <a (click)="checkEligibilty()" style="cursor: pointer" class="mt-3 link">View more details</a>
    <small *ngIf="this.generalservice.familiesForCashDonation.length > 0" class="info mt-2">
      You have {{ this.generalservice.familiesForCashDonation.length }} more
      family to send 5000 each to
    </small>
  </div>
</div>

<div *ngIf="stage == '4'" class="inner-modal">
  <div class="inner-modal-content flex flex-column align-center text-center">
    <small class="smallNotification" *ngIf="notification?.show">
      {{ notification?.message }}
    </small>
    <div class="para-title">Bank account details</div>

    <ul class="list w-100 mt-4">
      <li>
        <span>Account name:</span>
        <span>
          {{ familyThatWillBenefit?.family_name }}
        </span>
      </li>
      <li>
        <span>Bank:</span>
        <span>{{ familyThatWillBenefit?.bank_name }}</span>
      </li>
      <li>
        <span>Account number:</span>
        <span>{{ familyThatWillBenefit?.account_no }}</span>
      </li>
      <li>
        <span>
          <form class="ui form mt-2">
            <div class="field">
              <div class="ui checkbox">
                <input (change)="confirmed = !confirmed" type="checkbox" id="confirmTransfer" tabindex="0" />
                <label style="line-height: 1">I have transferred the money</label>
              </div>
            </div>
          </form>
        </span>
      </li>
    </ul>


    <button [disabled]="confirmed" (click)="checkThatUserHasTransferredMoney()" class="ui button primary basic mt-2">
      Done
    </button>
    <a class="mt-3 link" (click)="stage = '1'"><span class="mr-2">←</span>Back</a>
  </div>
</div>

<div *ngIf="stage == '3'" class="inner-modal">
  <div class="inner-modal-content flex flex-column align-center text-center">
    <ul class="list small w-100 mt-4 text-center">
      <li>
        <span>Family is made up of {{ familyThatWillBenefit?.members_no }} people
        </span>
      </li>
      <li>
        <span>{{
          familyThatWillBenefit?.full_address
            ? familyThatWillBenefit?.full_address
            : "No address for this person"
        }}</span>
      </li>
      <li>
        <span>Family rep is a {{ familyThatWillBenefit?.breadwinner_job }}</span>
      </li>
    </ul>
    <hr>
    <ul class="list small w-100">
      <li>
        <span>Facial recognition</span>
        <span>✔</span>
      </li>
      <li>
        <span>Account verified</span>
        <span>✔</span>
      </li>
      <li>
        <span>BVN Confirmed</span>
        <span>✔</span>
      </li>
      <li>
        <span>Eligibility check</span>
        <span>✔</span>
      </li>
      <li>
        <span>Location match</span>
        <span>✔</span>
      </li>
      <li>
        <span>Family member match</span>
        <span>✔</span>
      </li>
    </ul>

    <a (click)="stage = '1'" style="cursor: pointer" class="mt-3 link">Ok</a>
  </div>
</div>

<div *ngIf="stage == '5'" class="inner-modal">
  <div class="inner-modal-content flex flex-column align-center text-center">
    <div class="modal-icon">
      <img src="/assets/images/svgs/checked.svg" alt="ICON" />
    </div>
    <p class="para-title text-center">
      Remember to take a screeenshot of your transfer for evidence
    </p>
    <button *ngIf="
        generalservice.familiesForCashDonation.length > 0;
        else noMoreFamilies
      " (click)="iHaveTransferredTheMoney()" class="ui button positive basic">
      Goto Next Family
    </button>
    <ng-template #noMoreFamilies>
      <button (click)="iHaveTransferredTheMoney()" class="ui button positive basic">
        Done
      </button>
    </ng-template>
  </div>
</div>