div.parent {
  display: flex;
  -webkit-box-pack: center;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: center;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 3px 355px rgba(204, 204, 204, 0.35);
  /* border: 1px solid tomato; */
}

div.parent p:first-child {
  padding-top: 20px;
  width: 100%;
  height: fit-content;
  text-align: center;
  font-size: 2rem;
  line-height: 0;
  color: #075e54;
}

div.parent p.button {
  text-align: center;
  font-size: 1.1rem;
  border: 1px solid #54d38a;
  line-height: 0;
  padding: 16px;
  border-radius: 6px;
  color: #fff;
  background: #54d38a;
}

div.parent div {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.parent ul {
  width: 100%;
  padding-left: 0;
  text-align: center;
  list-style: none;
  /* margin: 0 auto; */
}

div.parent li {
  width: 100%;
  padding: 3px;
  text-align: center !important;
  display: flex;
  color: #495057;
  justify-content: flex-start;
  align-items: baseline;
}

div.parent i {
  text-align: left;
  margin-right: 7px;
}

div.parent a {
  text-decoration: underline;
  color: #495057;
}

.info {
  padding-bottom: 4px !important;
  color: #2185d0;
}

.smallNotification {
  position: absolute !important;
  display: flex;
  justify-content: center;
  line-height: 1;
  margin: 0 auto !important;
  width: 80% !important;
  height: 30px !important;
  border: 1px solid rgba(255, 99, 71, 0.8) !important;
  top: 0 !important;
  border-radius: 3px !important;
  background: rgba(255, 99, 71, 0.8) !important;
  color: #fff !important;
  text-align: center;
  align-items: center;
  box-shadow: 0 0 20px 6px #a7a1a1;
}

div#found-beneficiary p {
  position: absolute;
  font-size: 1.6rem;
  top: 30%;
  background: rgba(0, 0, 0, 0.4);
  padding: 0.5rem;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
  height: 7%;
  z-index: 50;
}

div#found-beneficiary p:nth-child(3) {
  right: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

div#found-beneficiary p:nth-child(2) {
  left: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.doneWithTransfers {
  margin-top: 5px;
  text-decoration: underline;
  color: tomato;
  cursor: pointer;
}

.dropDown {
  color: black;
  font-weight: bold;
  font-size: 1.15rem;
  position: absolute;
  right: 5%;
  top: 4%;
  cursor: pointer;
}

.popUp {
  position: relative;
  background: white;
  left: 0;
  bottom: 320px;
  width: 70%;
  z-index: 300;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 125px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0 5px;
  box-shadow: 0 0 55px 20px rgba(0, 0, 0, 0.47);
}

.popUp p {
  font-size: 1.1rem;
  line-height: 1.25rem;
}

.popUp a {
  width: 50%;
  border: 1px solid #4183c4;
  padding: 4px 0px;
  background: #4183c4;
  color: #fff;
  border-radius: 3px;
}

.popUp + .inner-modal {
  filter: blur(3px);
}
