.modified-img {
  max-width: 150px;
  margin: 0 auto;
}

.modified-button {
  margin-top: 2rem;
}

.inner {
  background: rgba(175 8 8 / 0.8);
  z-index: 1050 !important;
}

.modified {
  width: fit-content !important;
  padding: 0.8ch 1rem !important;
  cursor: pointer !important;
}

.warning {
  background: orangered;
}
