<form
  [formGroup]="parentProfileForm"
  (ngSubmit)="submitForm(parentProfileForm)"
  class="w-100"
  style="position: relative"
>
  <div class="ui form">
    <div class="field">
      <label>Full name</label>
      <input
        formControlName="full_name"
        type="text"
        placeholder="eg: Tosin Chukwudi"
      />
    </div>
    <div class="field">
      <!-- -->

      <div class="field">
        <label>Age</label>
        <input
          formControlName="age"
          name="class"
          type="number"
          pattern="[0-9]{2}"
          placeholder="Eg: 20"
        />
      </div>
      <small
        class="age_warning"
        [style.display]="age.touched && !age.valid ? 'block' : 'none'"
      >
        Please enter age between 0 - 99
      </small>
    </div>
    <div class="inline fields">
      <label for="fruit">Gender:</label>

      <div class="field">
        <div class="ui radio checkbox">
          <input
            type="radio"
            id="male"
            formControlName="gender"
            name="gender"
            tabindex="0"
            value="1"
            class="hidden"
          />
          <label for="male">Male</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input
            type="radio"
            id="female"
            formControlName="gender"
            value="2"
            name="gender"
            tabindex="0"
            class="hidden"
          />
          <label for="female">Female</label>
        </div>
      </div>
    </div>

    <div class="field">
      <!-- -->

      <div class="field">
        <label>Address</label>
        <input
          formControlName="address"
          name="class"
          type="text"
          placeholder="Eg: 21 Somolu road Lagos"
        />
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <button
      [disabled]="!parentProfileForm.valid"
      type="submit"
      class="ui primary button fluid"
    >
      Next
    </button>
  </div>
</form>
