<form
  [formGroup]="parentProfileForm"
  (ngSubmit)="submitForm(parentProfileForm)"
  class="w-100"
  style="position: relative"
>
  <div class="ui form">
    <div class="field">
      <label>Full name</label>
      <input
        formControlName="full_name"
        type="text"
        placeholder="eg: Tosin Chukwudi"
      />
    </div>
    <div class="field">
      <!-- -->

      <div class="field">
        <label>Date Of Birth</label>
        <input
          formControlName="date_of_birth"
          onfocus="this.type = 'date'"
          onblur="this.type='text'"
          name="class"
          type="text"
          placeholder="Eg: Month/Day/Year"
        />
      </div>
      <small
        class="dob_warning"
        [style.display]="dob.touched && !dob.valid ? 'block' : 'none'"
      >
        Please enter your date of birth
      </small>
    </div>
    <div class="inline fields">
      <label for="fruit">Gender:</label>

      <div class="field">
        <div class="ui radio checkbox">
          <input
            type="radio"
            id="male"
            formControlName="gender"
            name="gender"
            tabindex="0"
            value="1"
            class="hidden"
          />
          <label for="male">Male</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input
            type="radio"
            id="female"
            formControlName="gender"
            value="2"
            name="gender"
            tabindex="0"
            class="hidden"
          />
          <label for="female">Female</label>
        </div>
      </div>
    </div>

    <div class="field">
    </div>
  </div>

  <div class="text-center mt-4">
    <button
      [disabled]="!parentProfileForm.valid"
      type="submit"
      class="ui primary button fluid"
    >
      Next
    </button>
  </div>
</form>
