/* div.border3 {
  width: 90%;
  height: 1.4rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px 3px rgba(204, 204, 204, 0.3);
  padding: 5px;
  border-radius: 15px;
  margin: 0 auto;
}

div.inner {
  background-color: rgba(102, 51, 153, 0.6);
  height: 90%;
  border-radius: 15px;
  width: 0;
  transition: width 0.7s ease-in;
} */
