div.chatInputAndButton {
    /* position: fixed; */
    /* bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column; */
}

div.parentOfChatWindow {
    /* background: url("../../../assets/chatbotImages/whatsapp.png") !important; */
    overflow-y: scroll !important;
    max-height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(128, 128, 128, 0.1);
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(0, 12, 0, 0.36);
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(51, 153, 51, 0.2);
    outline: 1px solid slategrey;
}

/* span.poweredByCreditclan {
  display: block;
  align-self: flex-end;
  position: relative;
  right: 10px;
  top: -4px;
  margin: 5px;
} */
