


 <div
        class="flex flex-column justify-center align-center h-100 text-center family-info"
        *ngIf="view == ''"
        style="height: 500px;"
  >
 

 <h1 class="para-title ">
     Edit your child's information
 </h1>

 <div
   class="ui grid justify-center "
   style="overflow: hidden; margin: 0 auto; cursor: pointer; z-index: 30;"
 >
   <div
     class="twelve wide column myborder mt-1 addFlexBehavior"
   >
     <p class="bolded">
       <span class="housing"> Tosin Abiodun: <span class>Edit ➡  </span> </span>
     </p>
    
     

   </div>

   <br>
    
 </div>
</div> 