<form [formGroup]="parentAddressInfoForm" class="w-100" style="position: relative">
  <div class="ui form">
    <div class="field">
      <label>Address</label>
      <input formControlName="address" type="text" placeholder="Eg: 21, Bolaji Banwo street" />
    </div>
    <div class="field">
      <!-- -->

      <div class="field">
        <label>Nearest Bustop</label>
        <input formControlName="bus_stop" name="class" type="text" placeholder="Eg: Cassette Bustop" />
      </div>

      <div class="field">
        <label>City</label>
        <input formControlName="city" name="class" type="text" placeholder="Eg: Lagos" />
      </div>

      <div class="field">
        <label>State</label>
        <select
          (change)="selectLgaInState($event.target.value)"
          style="height: auto;"
          class="ui fluid search dropdown"
          name="card[expire-month]"
          formControlName="state"
        >
          <option value="" selected>Select state...</option>
          <option
            [value]="state.id"
            *ngFor="let state of NigerianStates; index as i"
          >
            {{ state.value }}
          </option>
        </select>
      </div>

      <div class="field">
        <label>LGA </label>
        <select
          style="height: auto;"
          class="ui fluid search dropdown"
          name="card[expire-month]"
          formControlName="lga"
        >
          <option value="" selected>Select Local Govt Area...</option>
          <option [value]="lga.id" *ngFor="let lga of stateLgas; index as i">
            {{ lga.value }}
          </option>
        </select>
      </div>

      <div class="field">
        <label>Post Code</label>
        <input  formControlName="post_code" name="class" type="text" placeholder="Eg: 101025" />
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <button
      (click)="submitThisForm(parentAddressInfoForm)"
      type="button"
      [disabled]="!parentAddressInfoForm.valid"
      class="ui primary button fluid"
    >
      Next
    </button>
  </div>

  <div *ngIf="spinner" class="spinner-container">
    <!-- <i class="fa fa-circle-notch fa-spin fa-3x"></i> -->
    <app-loader></app-loader>
  </div>
</form>
