.resendCode {
  font-size: 1.5ch;
  text-decoration: underline;
  cursor: pointer;
}

.validation_error {
  display: block;
  text-align: left;
  line-height: 1px;
  color: red;
  margin-top: 10px;
}
