.resendCode {
  font-size: 1.5ch;
  text-decoration: underline;
  cursor: pointer;
}

.validation_error {
  display: block;
  text-align: left;
  line-height: 1px;
  color: red;
  margin-top: 10px;
}


.input__pin{
  width: 35px !important; 
  
  margin-right: 10px !important;
}

.input__pin:focus{
  outline: 1px solid #bcbdbd !important;
  outline-offset: -4px !important;
}


.bottom{
  margin-top: 200px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}