<div
  class="flex flex-column justify-center align-center h-100 text-center family-info"
  *ngIf="view == ''"
>
  
  <h1 class="para-title">An OTP will be sent to {{ parentDetails?.phone }}</h1>
  <div class="w-100 flex justify-center align-center">
    <button
      (click)="iWantToChangeNumber('phone', 'lauchModal')"
      class="ui button primary basic mt-4 mr-2"
    >
      I want to change this number
    </button>

    <button
      (click)="sendOTP(parentDetails?.phone)"
      class="ui button primary basic mt-4"
    >
      Ok, Continue
    </button>
  </div>
  <div *ngIf="spinner" class="spinner-container">
    <!-- <i class="fa fa-circle-notch fa-spin fa-3x"></i> -->
    <app-loader></app-loader>
  </div>
</div>

<div class=" h-100 text-center family-info" *ngIf="view == 'verification'">
  <h1 class="para-title text-center">
    Please enter code sent to {{ parentDetails?.phone }}
    <small class="ml-2"
      ><a class="resendCode" (click)="resendCode($event, 'phone')">Resend</a></small
    >
  </h1>

  <form
    [formGroup]="phoneVerificationForm"
    class="w-100"
    style="position: relative"
  >
    <div class="ui form">
      <div class="field">
        <label>Verification code</label>
        <input formControlName="OTP" type="tel" placeholder="Eg: 1we6679" />
      </div>
    </div>

    <div class="text-center mt-4">
      <button
        (click)="confirmVerification(phoneVerificationForm)"
        type="button"
        class="ui primary button fluid"
      >
        Continue
      </button>
    </div>
    <div *ngIf="spinner" class="spinner-container">
      <!-- <i class="fa fa-circle-notch fa-spin fa-3x"></i> -->
      <app-loader></app-loader>
    </div>
  </form>
</div>

<div
  class="flex flex-column justify-center align-center h-100 text-center family-info"
  *ngIf="view == 'email'"
>
 
  <h1 class="para-title">We would like to send a verification code to {{ parentDetails?.email }}  </h1>
  <!-- put email address -->
  <div class="w-100 flex justify-center align-center">
    <button
      (click)="iWantToChangeNumber('email', 'lauchModal')"
      style="background-color: var(--button_color);"
      class="btn btn button--no-width  basic mt-4 mr-2"
    >
      I want to change this email
    </button>

    <button
      (click)="sendActivationCodeToEmail(parentDetails?.email)"
      style="border: 1px solid var(--button_color); background-color: transparent; color: var(--primary_textColor)"
      class="btn btn button--no-width  basic mt-4"
    >
      Ok, Continue
    </button>
  </div>
  <div *ngIf="spinner" class="spinner-container">
    <!-- <i class="fa fa-circle-notch fa-spin fa-3x"></i> -->
    <app-loader></app-loader>
  </div>
</div>

<div
  class="flex flex-column justify-center align-center h-100 text-center family-info"
  *ngIf="view == 'preambleTo-email-verification'"
>
 
  <h1 class="para-title"> {{ fromBankPartnership?.heading }} </h1>
  <!-- put email address -->
  <div class="w-100 flex justify-center align-center">
    <button
      class="ui button primary basic mt-4 mr-2"
      (click)="view = 'email'"
    >
      Okay
    </button>

  </div>
  <div *ngIf="spinner" class="spinner-container">
    <!-- <i class="fa fa-circle-notch fa-spin fa-3x"></i> -->
    <app-loader></app-loader>
  </div>
</div>



<div class=" h-100 text-center family-info" *ngIf="view == 'four-digit-pin'">
  <h1 class="para-title">
    Enter Activation PIN sent to your email
  </h1>

  <form [formGroup]="PINForm" class="w-100" style="position: relative">
    <div class="ui form">
      <div  class="field">
        <ng-container *ngFor="let input of arrayOfInputs; index as i">
          <input class="input__pin" 
            style="border: 1px solid #777 !important; 
             border-radius: 5px !important; height: 45px;
             padding: 0 5px !important; 
             text-align: center !important; 
             font-weight: bold !important;"
             type="tel" minlength="0"
             (input)="changeFocus(input, $event.target.value)"
             [id]="input"
             maxlength="1" placeholder="" />
        </ng-container>
        

        <div class="text-center mt-4">
          <button (click)="iWantToChangeNumber('email', 'lauchModal')"  class="ui button primary basic mr-2">
            Change email
          </button>
      
          <button (click)="sendActivationCodeToEmail(parentDetails?.email, $event)" class="ui button primary basic mt-4">
            Resend pin
          </button>
        </div>
      </div>
    </div>

  
  </form>

  <div *ngIf="spinner" class="spinner-container">
    <!-- <i class="fa fa-circle-notch fa-spin fa-3x"></i> -->
    <app-loader></app-loader>
  </div>
</div>

<div
  id="myModal2"
  class="modal"
  style="z-index: 2000"
  [style.display]="showModal"
>
  <!-- Modal content -->
  <div class="modal-content" style="position: relative">
    <button style="display: none" class="modal-close">
      &times;
    </button>

    <!-- <button  class="fakeButton inner">
      &times;
    </button> -->

    <div class="modal-body" style="display: 'block'">
      <div class=" h-100 text-center family-info">
        <h1 class="para-title text-center">
          Please enter the new
          {{ contactChange == "phone" ? "phone number" : "email" }}
        </h1>

        <form
          [formGroup]="newPhoneNumberForm"
          class="w-100"
          style="position: relative"
        >
          <div class="ui form">
            <div class="field">
              <label>Email</label>
              <input
                formControlName="emailOrPhone"
                [type]="type"
                placeholder="Eg: johndoe@abc.com"
                [pattern]="contactChange == 'phone' ? '[0-9]{11}' : ''"
              />
              <small
                class="validation_error"
                [style.display]="
                  emailOrPhone.touched && !emailOrPhone.valid ? 'block' : 'none'
                "
              >
                Please enter your Nigerian phone number
              </small>
            </div>
          </div>

          <div class="text-center mt-4 w-100 flex justify-center align-center">
            <button
              [disabled]="!newPhoneNumberForm.valid"
              (click)="modifyPrefferedContact(newPhoneNumberForm)"
              type="button"
              class="ui primary button fluid"
            >
              Continue
            </button>

            <button
              (click)="iWantToChangeNumber('phone', 'closeModal')"
              type="button"
              class="ui warning button fluid"
            >
              Cancel
            </button>
          </div>
          <div *ngIf="spinner" class="spinner-container">
            <!-- <i class="fa fa-circle-notch fa-spin fa-3x"></i> -->
            <app-loader></app-loader>
          </div>
        </form>
      </div>
      <!-- <div class="text-center mt-5 w-100 flex justify-center align-center">
        <button type="button" class="btn btn-success modified mr-3">
          Done
        </button>
      </div> -->
    </div>
  </div>
</div>
