div.container {
  display: -webkit-box;
  display: flex;
  position: relative;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.smallNotification {
  position: absolute !important;
  display: flex;
  justify-content: center;
  margin: 0 auto !important;
  width: 80% !important;
  height: 30px !important;
  border: 1px solid rgba(255, 99, 71, 0.3) !important;
  top: 0 !important;
  border-radius: 3px !important;
  background: rgba(255, 99, 71, 0.5) !important;
  color: #fff !important;
  text-align: center;
  align-items: center;
}
.container form {
  margin-top: 3rem;
  width: 100%;
}

[type="submit"] {
  margin: 25px 0;
  background: #54d38a !important;
}

button[type="submit"]:hover {
  border: 1px solid #54d38a !important;
  background: #fff !important;
  color: #54d38a !important;
}

.button i {
  position: absolute !important;
  right: 0px !important;
  margin-right: 10px !important;
}

.container p:first-child {
  font-size: 1.5rem;
  padding: 1.2rem 0;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
}

div.accountDetailsSearchResult {
  position: absolute;
  background: #fff;
  border: 1px solid;
  height: 100%;
  width: 100%;
  transform: translateY(260px);
  border-radius: 30px;
  /* z-index: 5; */
  top: 0;
  left: 0;
  padding: 1.2rem 1rem;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
}

div.accountDetailsSearchResult p:last-child {
  display: flex;
  justify-content: center;
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 3rem !important;
  padding: 1rem 0;
  border: 1px solid #54d38a;
}

div.accountDetailsSearchResult p:last-child > a {
  color: #54d38a;
}

div.confirmBankDetails {
  display: "block";
}

div.confirmSubmitRequest {
  display: none;
}

div.confirmSubmitRequest p:nth-child(2) {
  display: flex;
  justify-content: center;
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
  /* margin-top: 4rem; */
  padding: 1rem 0;
  border: 1px solid #54d38a;
}

div.confirmSubmitRequest p:last-child {
  /* all: unset; */
  border: none !important;
  padding: 2rem !important;
  margin-top: 0 !important;
  display: flex !important;
  justify-content: center !important;
}

div.confirmSubmitRequest p:last-child > a {
  color: red;
  text-decoration: underline;
  text-decoration-color: red;
}

div.requestSuccess img {
  height: 100px;
  text-align: center;
}

div.requestSuccess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.requestSuccess p {
  border: none !important;
  padding: 2rem !important;
  margin-top: 0 !important;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  /* display: flex !important; */
  /* justify-content: center !important; */
}

p.submitRequest:hover {
  background: #54d38a !important;
  color: #fff !important;
}

p.submitRequest a:hover {
  color: #fff !important;
}
