<div class="container">
  <!-- <div><img src="../../../assets/images/familyGroup2.svg" alt="" /></div> -->

  <p>
    Finally, what bank account would you like to receive funds in?
  </p>

  <form>
    <div class="ui form">
      <div class="field">
        <label>Bank name</label>
        <input type="text" placeholder="Enter name of bank" />
      </div>
      <div class="field">
        <label>Account number</label>
        <input type="number" placeholder="Enter accounter number" />
      </div>
    </div>

    <button type="submit" class="fluid ui primary button">
      Continue <i hidden class="fas fa-circle-notch fa-spin"></i>
    </button>
  </form>

  <div class="accountDetailsSearchResult">
    <div class="confirmBankDetails">
      <p>
        Bejide Femi Akintunde 0234122378 GTB
      </p>

      <p>
        <a>Yes, Submit my request</a>
      </p>
    </div>

    <div class="confirmSubmitRequest">
      <p>
        Do we Submit Your family request for cash assistance
      </p>

      <p>
        <a>Yes, Submit my request</a>
      </p>

      <p>
        <a> No, cancel request</a>
      </p>
    </div>

    <div class="requestSuccess">
      <div><img src="../../../assets/images/check-mark.svg" alt="" /></div>
      <p>
        Your request has been sent for assistance. You will get an alert once we
        and a helper.
      </p>
    </div>
  </div>
</div>
