.app-wrap {
  position: relative;
  width: 95vw;
  height: 95vh;
  max-width: 1000px;
  margin: 20px auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.01);
}

@media screen and (max-width: 700px) {
  .app-wrap {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
  }
}

div.searchingParent {
  background: linear-gradient(
    to bottom,
    rgba(118, 118, 118, 0.9),
    rgba(212, 212, 213, 0.3)
  );
  display: none;
  /* position: absolute; */
  z-index: 10;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  /* background: linear-gradient(to bottom, rgba(118, 118, 118, 0.9), transparent); */
  overflow: hidden;
}

div.searchingParent > div.inner {
  position: relative;
  height: 100%;
  display: block;
  /* justify-content: center; */
  z-index: 10;
  top: 0;
  width: 100%;
}

div.searchingParent div.searchingContent {
  height: 75%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  -webkit-transform: translateY(341px);
  transform: translateY(360px);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
}

div.searchingParent p {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0px;
}

div.searchingParent a {
  text-decoration: underline;
  color: tomato;
  font-size: 1.3rem;
}

div.foundParent {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  /* background: linear-gradient(to bottom, rgba(118, 118, 118, 0.9), transparent); */
  overflow: hidden;
}

div.foundParent > div {
  position: relative;
  background-image: url(../assets/images/family-photos.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  z-index: 11;
  height: 100%;
  width: 100%;
}

div.foundParent div.grandChild {
  display: none;
  transform: translateY(360px);
  background: #fff;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 40px;
  transition: transform 0.7s ease-in-out;
}

/* div.foundParent div.grandChildTwo */

div.foundParent div.grandChildThree {
  display: none;
  transform: translateY(160px);
  background: #fff;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid rgba(204, 204, 204, 0.85);
  border-radius: 40px;
  transition: transform 0.7s ease-in-out;
}

/* div.receiver {
  height: 550px;
} */

div.transparencyDisclaimer {
  height: 100%;
  /* display: flex;
  transform: translateY(160px);
  background: #fff;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid rgba(204, 204, 204, 0.85);
  border-radius: 40px;
  transition: transform 0.7s ease-in-out; */
}

/* div.takeAPicture {
  height: 550px;
} */

/* div.receiverBankAccount {
  height: 550px;
} */

.globalOverlay {
  display: none;
  z-index: 20;
  position: absolute;
  background: rgb(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

/* spinner css starts here */

.fakeButton {
  position: absolute;
  top: 2%;
  right: 3%;
  z-index: 1000;
  width: 25px;
  height: 25px;
  background: #db2828;
  color: #fff;
  font-size: 1.5em;
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.confirmation {
  display: none;
  z-index: 1020;
  position: absolute;
  background: rgb(255, 255, 255, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: flex-start;
}

.confirmationContent {
  margin: 9rem 20px;
  border: 1px solid rgba(204, 204, 204, 0.6);
  border-radius: 15px;
  background: #fff;
  width: 50%;
  padding: 1rem 0.5rem;
  text-align: center;
  box-shadow: 0 0 15px 1px rgba(204, 204, 204, 0.6);
}

.confirmationContent p {
  font-size: 1.3rem;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons span {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgba(255, 99, 71, 0.4);
  color: rgba(255, 99, 71, 0.4);
  /* color: white; */
  padding: 5px 5px;
}

.buttons span:last-child {
  border-radius: 3px;
  border: 1px solid lightgreen;
  color: lightgreen;
  /* color: white; */
  padding: 5px 5px;
}
