<!-- NG-ZORRO -->
<!-- <a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a> -->

<!-- <app-general-forms></app-general-forms> -->
<div class="app-wrap">
  <router-outlet></router-outlet>

  <!-- Button trigger modal -->
  <!-- style="position: fixed; top: 10px; left: 3px;" -->

  <!-- <div class="loaderWindow">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div> -->
  <div *ngIf="errorHouse?.error?.errorBool" class="alert alert-danger customised alert-dismissible fade show"
    role="alert">
    <strong><i nz-icon nzType="warning" nzTheme="outline"></i></strong>
    {{ errorHouse?.error?.errorText }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- <button
  hidden
  type="button"
  id="btnTrigger"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModalLong"
>
  Launch demo modal
</button> -->

  <button (click)="lauchModal()" id="btnTrigger" hidden class="btn btn button--no-width"></button>

  <div id="myModal" class="modal" [style.display]="showModal">
    <!-- Modal content -->
    <div class="modal-content" style="position: relative">
      <button (click)="preventHidingOfbuttons(generalservice.nameOfModal)" class="modal-close">&times;</button>

      <div class="modal-body" style="display: 'block'">
        <div [ngSwitch]="flowControlHolder">
          <div style="overflow-y: auto;" *ngSwitchCase="'IdentifyOrAnonymousForms'">
            <!-- <app-terms-and-condition></app-terms-and-condition> -->
            <app-identify-or-anonymous></app-identify-or-anonymous>
          </div>
          <div *ngSwitchCase="'foundBeneficiary'">
            <app-found-beneficiary></app-found-beneficiary>
          </div>
          <div *ngSwitchCase="'supportPageForms'">
            <app-support-page></app-support-page>
          </div>
          <div *ngSwitchCase="'QuestionsContainer'">
            <app-questions-ctrl></app-questions-ctrl>
          </div>
          <div *ngSwitchCase="'receiverContainer'">
            <div class="receiver">
              <div class="transparencyDisclaimer">
                <!-- <app-transparency-disclaimer></app-transparency-disclaimer> -->
                <!-- <app-loader></app-loader> -->
                <app-welcome></app-welcome>
              </div>
            </div>
          </div>
          <!--  -->
          <div *ngSwitchCase="'knowYourReceiver'">
            <div class="receiver">
              <div class="transparencyDisclaimer">
                <app-know-your-receiver></app-know-your-receiver>
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'takeAPicture'">
            <div class="takeAPicture">
              <app-picture-component></app-picture-component>
            </div>
          </div>

          <div *ngSwitchCase="'receiverBankAccount'">
            <div class="receiverBankAccount">
              <app-receiver-bank-account></app-receiver-bank-account>
            </div>
          </div>

          <div *ngSwitchCase="'confirmDetailsUploaded'">
            <div class="receiverBankAccount">
              <!-- <app-receiver-bank-account></app-receiver-bank-account> -->
              <app-confirm-details-uploaded></app-confirm-details-uploaded>
            </div>
          </div>
        </div>

        <div class="searchingParent">
          <div class="inner">
            <div class="searchingContent">
              <p>Searching</p>

              <p><a>cancel search</a></p>
            </div>
          </div>
        </div>

        <div class="foundParent">
          <div>
            <div class="grandChild">
              <app-found-beneficiary></app-found-beneficiary>
            </div>

            <div class="grandChildTwo">
              <app-eligibility-checks></app-eligibility-checks>
            </div>

            <div class="grandChildThree">
              <app-bank-details></app-bank-details>
            </div>
          </div>
        </div>

        <div [style.display]="globalOverlay" class="globalOverlay">
          <app-loader></app-loader>
        </div>
      </div>
    </div>
  </div>
</div>