

<div style="position: relative;">
    <router-outlet></router-outlet>

  <div class="overlay">
    <div class="child">
        <span class="preamble">
          Thank you for using this school service
        </span>
        <br>
        <br>
        <span class="continuation">
          This service is currently closed for third term and  
        </span>

        <span class="continuation">
          will be available for first term registration in
        </span>

        <br>

        <div class="date mt-3">
          <span class="days">
              <small class="date_heading">Days</small>
              <small>{{ days }}</small>
              
          </span>
            :
          <span class="hours">
            <small class="date_heading">Hours</small>
             <small> {{ hours }}</small>
          </span>
          :
          <span class="minutes">
              <small class="date_heading">Minutes</small>
              <small>{{ minutes }}</small>
          </span>
          :
          <span class="seconds">
             <small class="date_heading">Seconds</small>
             <small> {{ seconds }} </small>
          </span>
        </div>
    </div>
  </div>
</div>




<div
  *ngIf="errorHouse?.error?.errorBool"
  class="alert alert-danger customised alert-dismissible fade show"
  role="alert"
>
  <strong><i nz-icon nzType="warning" nzTheme="outline"></i></strong>
  {{ errorHouse?.error?.errorText }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



<button
  (click)="lauchModal()"
  id="btnTrigger"
  hidden
  class="btn btn button--no-width"
></button>

<div id="myModal" class="modal" [style.display]="showModal">
  <!-- Modal content -->
  <div class="modal-content" style="position: relative">
    <!-- *ngIf="goBack != 'firstPage'"  -->
    <div
      [style.display]="goBack == 'firstPage' ? 'none' : 'block'"
      class="backspace"
      id="backspace"
    >
      <svg viewBox="0 0 24 24" class="svgElement">
        <path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z" />
      </svg>
    </div>
    <button
      hidden
      (click)="preventHidingOfbuttons(generalservice.nameOfModal)"
      class="modal-close"
    >
      &times;
    </button>
    <button (click)="fakeButtonForUserOnly()" class="fakeButton">
      &times;
    </button>

    <div class="confirmation" [ngClass]="{ visible: confirmationDialog }">
      <div class="confirmationContent">
        <p>If you quit now, you will loose all your progress</p>
        <div class="buttons">
          <button class="ui button positive small fluid" (click)="cancel()">
            Continue
          </button>
          <button
            class="ui button negative small fluid basic mt-2"
            (click)="resetEverything()"
          >
            Quit without saving
          </button>
        </div>
      </div>
    </div>

    <div
      class="modal-body"
      [style.height]="changeStyles ? '600px': ''"
      [style.padding]="changeStyles? '.5rem .5rem': ''"
      style="display: 'block'"
    >
      <div [ngSwitch]="generalservice.flowControlHolder">
        <div
          style="overflow-y: auto;"
          *ngSwitchCase="'child-information-forms'"
        >
          <app-child-information-forms
            [back]="goBack"
            (previousPage)="setPageToGoBackTo($event)"
          ></app-child-information-forms>
        </div>
        <!-- edit child -->
        <div
        style="overflow-y: auto;"
        *ngSwitchCase="'edit-child-information'"
         >
        <app-edit-child>  
        </app-edit-child>
      </div>
        <!--  -->
        <div *ngSwitchCase="'foundBeneficiary'">
          <app-found-beneficiary></app-found-beneficiary>
        </div>
        <div *ngSwitchCase="'supportPageForms'">
          <app-support-page></app-support-page>
        </div>
        <div *ngSwitchCase="'receiverContainer'">
          <app-transparency-disclaimer></app-transparency-disclaimer>
        </div>
        <div *ngSwitchCase="'welcomeModal'">
          <app-welcome></app-welcome>
        </div>
        <!--  -->
        <div *ngSwitchCase="'knowYourReceiver'">
          <div class="receiver">
            <div class="transparencyDisclaimer">
              <app-know-your-receiver></app-know-your-receiver>
            </div>
          </div>
        </div>

        <div *ngSwitchCase="'takeAPicture'">
          <div class="takeAPicture">
            <app-picture-component></app-picture-component>
          </div>
        </div>

        <div *ngSwitchCase="'teacher-loan-application'">
          <div class="takeAPicture">
            <!-- <app-picture-component></app-picture-component> -->
            <app-teacher-loan-application></app-teacher-loan-application>
          </div>
        </div>
        
        <div *ngSwitchCase="'agent-profile'">
          <div class="takeAPicture">
            <!-- <app-picture-component></app-picture-component> -->
            <app-agent-profile></app-agent-profile>
          </div>
        </div>

        <div *ngSwitchCase="'answer-questions'">
          <div class="takeAPicture">
            <!-- <app-picture-component></app-picture-component> -->
            <app-answer-questions></app-answer-questions>
          </div>
        </div>

        <div *ngSwitchCase="'verify-parent-data'">
          <!-- [previous]="goBack"
              (previousPage)="setPageToGoBackTo($event)" -->
          <div class="takeAPicture">
            <app-verify-parent-data
              
            ></app-verify-parent-data>
          </div>
        </div>
        <div *ngSwitchCase="'parents-information'">
          <div class="takeAPicture">
            <!-- <app-picture-component></app-picture-component> -->
            <app-parents-information
              [previous]="goBack"
              (previousPage)="setPageToGoBackTo($event)"
            ></app-parents-information>
          </div>
        </div>

        <div *ngSwitchCase="'continuing-existing-requests'">
          <div class="takeAPicture">
            <app-continuing-existing-requests
              [previous]="goBack"
              (previousPage)="setPageToGoBackTo($event)"
            >
            </app-continuing-existing-requests>
          </div>
        </div>

        <div *ngSwitchCase="'make-full-payment'">
          <div class="takeAPicture">
            <app-make-full-payment></app-make-full-payment>
          </div>
        </div>

        <div *ngSwitchCase="'questions-component'">
          <div class="takeAPicture">
            <app-questionnaire></app-questionnaire>
          </div>
        </div>

        <div *ngSwitchCase="'parent-account-form'">
          <div class="takeAPicture">
            <app-parent-account-form
            (previousPage)="setPageToGoBackTo($event)"></app-parent-account-form>
          </div>
        </div>

        <div *ngSwitchCase="'edit-parent-info'">
          <div class="takeAPicture">
            <app-edit-parent-info></app-edit-parent-info>
          </div>
        </div>

        <div *ngSwitchCase="'bank-partnership'">
          <div class="takeAPicture">
            <app-bank-partnership
              [previous]="goBack"
              (previousPage)="setPageToGoBackTo($event)"
            ></app-bank-partnership>
          </div>
        </div>

        <div *ngSwitchCase="'school-books'">
          <div class="takeAPicture">
            <app-school-books
             (previousPage)="setPageToGoBackTo($event)"
            ></app-school-books>
          </div>
        </div>

        <div *ngSwitchCase="'receiverBankAccount'">
          <div class="receiverBankAccount">
            <app-receiver-bank-account></app-receiver-bank-account>
          </div>
        </div>

        <div *ngSwitchCase="'evidenceUploadComponent'">
          <div class="takeAPicture">
            <app-evidence-upload></app-evidence-upload>
          </div>
        </div>

        <div class="selectBeneficiary" *ngSwitchCase="'selectBeneficiaries'">
          <app-selection></app-selection>
        </div>

        <div *ngSwitchCase="'confirmDetailsUploaded'">
          <div class="receiverBankAccount">
            <!-- <app-receiver-bank-account></app-receiver-bank-account> -->
            <app-confirm-details-uploaded></app-confirm-details-uploaded>
          </div>
        </div>
        <!-- <div *ngSwitchDefault><app-welcome></app-welcome></div> -->
      </div>

      <div class="searchingParent">
        <div class="inner">
          <div class="searchingContent">
            <p>Searching</p>

            <p><a>cancel search</a></p>
          </div>
        </div>
      </div>

      <div class="foundParent">
        <div>
          <div class="grandChild">
            <!-- <app-found-beneficiary></app-found-beneficiary> -->
          </div>

          <div class="grandChildTwo">
            <app-eligibility-checks></app-eligibility-checks>
          </div>

          <div class="grandChildThree">
            <app-bank-details></app-bank-details>
          </div>
        </div>
      </div>

      <div [style.display]="globalOverlay" class="globalOverlay">
        <app-loader></app-loader>
      </div>
    </div>
  </div>
</div>




