div.options_parents {
  height: 100%;
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 1px solid green; */
}

div.option {
  border: 1px solid rgba(204, 204, 204, 0.3);
  text-align: left;
  margin-left: 20px;
  box-shadow: 0 0 15px 3px rgba(204, 204, 204, 0.34);
  border-radius: 5px;
}

div.option {
  cursor: pointer;
}

div.option span:first-child {
  /* border: 1px solid black; */
  margin-right: 10px;
  padding: 3px;
  font-size: 16px;
}

div.option span:last-child {
  /* border: 1px solid red; */
  font-size: 16px;
  /* margin-right: 10px; */
  padding: 3px;
}

@media screen and (max-width: 330px) {
  div.options_parents {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

/* .selected {
  border: 1px solid rgba(0, 0, 255, 0.64);
} */
