/* div.parent {
  display: -webkit-box;
  display: flex;
  position: relative;
  padding-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  overflow: hidden;
} */

/* .parent img {
    height: 100px;
    text-align: center;
  } */

.imgContainer {
  width: 100%;
  height: 55%;
}

.imgContainer img {
  height: 100%;
  width: 100%;
  text-align: center;
}

div.confirmSubmitRequest {
  display: block;
}

/* div.confirmSubmitRequest p:first-child {
  text-align: center !important;
  font-size: 1.59rem !important;
  line-height: 1.17 !important;
  margin-bottom: 2em !important;
} */

/* div.confirmSubmitRequest p:nth-child(2) {
  display: flex;
  justify-content: center;
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
  padding: 1rem 0;
  border: 1px solid #54d38a;
}

div.confirmSubmitRequest p:last-child {
  border: none !important;
  padding: 2rem !important;
  margin-top: 0 !important;
  display: flex !important;
  justify-content: center !important;
}

div.confirmSubmitRequest p:last-child > a {
  color: red;
  text-decoration: underline;
  text-decoration-color: red;
} */

/* div.requestSuccess img {
  height: 100px;
  text-align: center;
} */

/* div.requestSuccess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* div.requestSuccess p {
  border: none !important;
  padding: 2rem !important;
  margin-top: 0 !important;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
} */

/* div.accountDetailsSearchResult {
  position: absolute;
  background: #fff;
  border: 1px solid;
  height: 100%;
  width: 100%;
  transform: translateY(260px);
  border-radius: 30px;
  top: 0;
  left: 0;
  padding: 1.2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */
