<div class="flex flex-column justify-center align-center h-100 text-center">
  <div class="modal-icon">
    <img src="../../../../assets/chatbotImages/avatar.png" alt="ICON" />
  </div>
  <h1 class="para-title">Chat with Dorcas</h1>
  <p class="para-body">
    A bot designed to connect you directly with a hunger relief donor this
    covid-19 period. Select an option below to continue
  </p>

  <button
    style="cursor: pointer"
    (click)="gotoReceiver()"
    id="welcomeButton"
    class="ui button primary basic mt-4"
  >
    Yes, I need help
  </button>
  <a style="cursor: pointer" class="mt-3 link" (click)="gotoGiver()"
    >No I want to give</a
  >
</div>
