
<div class=" text-center family-info" *ngIf="view == 'book-selection'" 
  style="position:relative; height: 100vh; overflow: hidden;">
    <h1 class="para-title">Please select books for your child</h1>

    <!-- [class.show]="booksSelected.size > 0"  -->
    <div class="selection_controls show" >
        <div class="all_container">
          <input id="inputForSelectAllBooks" style="display: none;" (click)="selectAllBooks($event)" type="checkbox">
           <!-- <span style="display: none;" (click)="clickSelectAll('inputForSelectAllBooks')" class="small__button"> select all</span>
           <span style="display: none;" (click)="calculateTotalCostOfBooks()" class="small__button">proceed</span> -->


          <div   class="floating_search_bar">
        
           <input type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search through books...">
         </div>
        </div>

        <!-- <div class="selected_number">
            {{ booksSelected.size }} {{ booksSelected.size == 1 ? 'book': 'books' }} selected
        </div> -->

        <!-- <div class="small_drop_down">
          <div [style.opacity]="booksSelected.size > 0 ? '1':'0.35'" 
               [style.pointerEvents]="booksSelected.size > 0 ? 'auto': 'none'"
              class="ellipsis"> 
               <span (click)="calculateTotalCostOfBooks()" class="more__button"> proceed </span> 
               <span *ngIf="showDropdown" class="sub_menu"> 
                <a (click)="cancelAllSelection()" ><i class="fa fa-times-circle"></i> clear selection</a>  
                <a (click)="calculateTotalCostOfBooks()" ><i class="fa fa-plus-circle"></i> Add selected </a> 
                <a (click)="clickSelectAll('inputForSelectAllBooks', $event)" ><i class="fa fa-plus-circle"></i> Select all </a> 
                <a (click)="calculateTotalCostOfBooks()" ><i class="fa fa-arrow-right"></i> Proceed </a> 
              </span> 
        </div>
            
        </div> -->
    </div>
  
    <div [class.justify-center]="booksToDisplay.length > 2" class="ui grid " 
         [style.paddingLeft]="booksToDisplay.length > 1 && booksToDisplay.length < 3  ? '6px' : '0'"
      style="overflow-y: auto; margin: 0 auto; height: auto;">
      <div
        *ngFor="let book of booksToDisplay | filter:searchTerm; index as i"
        style="padding: 2px .2rem; position: relative;"
        class="seven wide column myborder positioned-relative"
      >
       <input style="display: none;" (click)="addThisBookToSelected($event)" 
         [id]="book?.id" type="checkbox" class="selectionInput">

       <div  class="full__width">
            <img
            [src]="book?.picture"
            alt=""
          />

          <div class="other__contents">
            <p
                class="nameOfBook "
                style=""
              >
              {{ book?.name }}
            </p>
            <p class="bolded price">
              {{ book?.price | currency:'NGN' }}
          </p>
          <div class="select__parent">
         
            <span (click)="clickThisInput(book?.id, $event)" 
             class="small__button select">
              select
            </span>
          </div>
          </div>
       </div>
        
      </div>
  
    
    </div>

  
    <div class="floating_continue">
       <span  class="more__button mr-2" style="cursor: pointer;"  (click)="skippingThisSection()"> Skip </span>
       <span (click)="calculateTotalCostOfBooks()" 
         style="padding-right: 5px;"
         [class.noBooks_selected]="booksSelected.size == 0"
          class="more__button "> Continue  <i class="fa fa-paper-plane mr-2"></i>  </span>
    </div>
   
</div>




<div [style.height]="view == 'cost' ? '395px': '100%'" 
     [class.makeAFlex]="view == 'cost'"
    class=" h-100 text-center family-info" *ngIf="view == 'cost'">
    <h1 class="para-title">The Total cost of books selected is  {{ totalCostOfBooks | currency: 'NGN'}} </h1>

 

<div class="button_container">
  <button
    (click)="completeBookSelection()"
    class="ui button primary basic mt-4"
  >
    Add these books for my child
  </button>

</div>
  
  
</div>

<!-- <div 
    class=" h-100 text-center family-info" *ngIf="view == 'cost'">
    <h1 class="para-title">The Total cost of books selected is  {{ totalCostOfBooks | currency: 'NGN'}} </h1>

 

<div class="button_container">
  <button
    (click)="completeBookSelection()"
    class="ui button primary basic mt-4"
  >
    Add these books for my child
  </button>

  <button
 
    class="ui button primary basic mt-1"
  >
    These books are not necessary
  </button>
    </div>
  
  
</div> -->