
<div class=" h-100 text-center family-info" *ngIf="view == 'book-selection'">
    <h1 class="para-title">Please select books for your child</h1>

    <div class="selection_controls" [class.show]="booksSelected.size > 0">
        <div class="all_container">
            <input (click)="selectAllBooks($event)" id="selectAll" type="checkbox">
            <label for="selectAll">select all</label>
        </div>

        <div class="selected_number">
            {{ booksSelected.size }} {{ booksSelected.size == 1 ? 'book': 'books' }} selected
        </div>

        <div class="small_drop_down">
          <div class="ellipsis"> 
              <i class="fas fa-ellipsis-v"></i>
              <span class="sub_menu"> 
                <a (click)="cancelAllSelection()" ><i class="fa fa-times-circle"></i> clear selection</a>  
                <a (click)="calculateTotalCostOfBooks()" ><i class="fa fa-plus-circle"></i> Add selected </a>  
              </span>
        </div>
            
        </div>
    </div>
  
    <div class="ui grid justify-center" style="overflow: hidden; margin: 0 auto;">
      <div
        *ngFor="let book of booksToDisplay; index as i"
        style=" max-height: 250px; padding-left: .2rem; padding-right: .2rem; position: relative;"
        class="six wide column myborder positioned-relative"
      >

       <input (click)="addThisBookToSelected($event)" [id]="book?.id" type="checkbox" class="selectionInput">
        <img
          [src]="book?.picture"
          alt=""
          style="max-width: 115px; max-height: 115px; object-fit: cover;"
        />
        <p
          class="nameOfBook mb-3"
          style=""
        >
         {{ book?.name }}
        <br>
        <p class="bolded price">
            {{ book?.price | currency:'NGN' }}
        </p>
        <i
          *ngIf="selected == 'Voters ID'"
          class="fa fa-check positioned-absolute"
        ></i>
      </div>
  
      <!-- <div
      
        class="six wide column myborder positioned-relative"
      >
        <img
          src="../../../assets/images/svgs/name.svg"
          style="max-width: 50px;"
          alt=""
        />
        <p
          class="bolded"
          style="line-height: 1rem; font-weight: bold; text-align: center;"
        >
          National ID
        </p>
        <i
          *ngIf="selected == 'National ID'"
          class="fa fa-check positioned-absolute"
        ></i>
      </div>
  
      <div
        class="seven wide column myborder positioned-relative"
      >
        <img
          src="../../../assets/images/svgs/name.svg"
          style="max-width: 50px;"
          alt=""
        />
        <p
          style="line-height: 1rem; font-weight: bold; text-align: center;"
          class="bolded"
        >
          International Passport
        </p>
        <i
          *ngIf="selected == 'International Passport'"
          class="fa fa-check positioned-absolute"
        ></i>
      </div>
  
      <div
    
        class="six wide column myborder positioned-relative"
      >
        <img
          src="../../../assets/images/svgs/name.svg"
          alt=""
          style="max-width: 50px;"
        />
        <p
          class="bolded"
          style="line-height: 1rem; font-weight: bold; text-align: center;"
        >
          Drivers licence
        </p>
        <i
          *ngIf="selected == 'Drivers licence'"
          class="fa fa-check positioned-absolute"
        ></i>
      </div> -->
    </div>
  
</div>



<div [style.height]="view == 'cost' ? '395px': '100%'" 
     [class.makeAFlex]="view == 'cost'"
    class=" h-100 text-center family-info" *ngIf="view == 'cost'">
    <h1 class="para-title">The Total cost of books selected is  {{ totalCostOfBooks | currency: 'NGN'}} </h1>

 

    <div class="button_container">
        <button
    class="ui button primary basic mt-4"
  >
    Add these books for my children
  </button>

  <button
 
    class="ui button primary basic mt-1"
  >
    These books are not necessary
  </button>
    </div>
  
  
</div>