<div class="identifyOrAnonymous flex flex-column align-center">
  <div
    class="flex flex-column align-center"
    *ngIf="stayAnonymous == '2'; else identify"
  >
    <!-- <div class="modal-icon mb-4">
      <img src="../../assets/images/svgs/question.svg" alt="" />
    </div> -->
    <p class="para-title text-center mt-4 mb-4">
      We will need your information for potential contact.
    </p>
  </div>

  <ng-template #identify>
    <!-- <div class="modal-icon mb-4">
      <img src="../../assets/images/svgs/unknown.svg" alt="" />
    </div> -->
    <p class="para-title text-center mt-4 mb-4">
      We guarantee data anonymity
    </p>
  </ng-template>

  <form [formGroup]="iAForm" (ngSubmit)="submit(iAForm)" class="w-100">
    <div class="ui form">
      <div class="field">
        <label>Name</label>
        <input formControlName="name" type="text" placeholder="First Name" />
        <div *ngIf="name.touched && name.invalid" class="ng-invalid ng-touched">
          <small style="color: #f10b0b9d;" *ngIf="nameIsRequired()">
            Your name is required!</small
          >
        </div>
      </div>
      <div class="field">
        <label>Email</label>
        <input
          formControlName="email"
          name="email"
          type="email"
          placeholder="example@example.com"
        />
        <small> </small>
        <div
          *ngIf="email.touched && email.invalid"
          class="ng-invalid ng-touched"
        >
          <small style="color: #f10b0b9d;" *ngIf="emailIsRequired()">
            Your email address is required!</small
          >
        </div>
      </div>

      <div class="field">
        <label>Phone Number</label>
        <input
          formControlName="phone"
          name="tel2"
          type="tel"
          pattern="[0-9]{11}"
          placeholder="Enter your Phone number"
        />
        <small> </small>
        <div
          *ngIf="phone.touched && phone.invalid"
          class="ng-invalid ng-touched"
        >
          <small style="color: #f10b0b9d;" *ngIf="phoneIsRequired()">
            Your phone number is required!</small
          >
        </div>
      </div>

      <!-- <div class="field">
        <select formControlName="gender">
          <option value="">Gender</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
        </select>
      </div> -->

      <!-- <div class="field">
        <div class="ui checkbox">
          <input  type="checkbox" tabindex="0" />
          <label>I agree to the Terms and Conditions</label>
        </div>
      </div> -->
    </div>

    <div class="text-center mt-4">
      <button
        [disabled]="!iAForm.valid"
        type="submit"
        class="ui primary button"
      >
        Start <i hidden class="fas fa-circle-notch fa-spin"></i>
      </button>
    </div>
  </form>

  <small class="smallNotification" *ngIf="notification?.show">
    {{ notification?.message }}
  </small>
</div>
