/* .identifyOrAnonymous {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  min-height: 520px;
  position: relative;
} */

/* .identifyOrAnonymous > div {
  display: flex;
  justify-content: center;
} */

/* .identifyOrAnonymous img {
  height: 100px;
  text-align: center;
} */
/* 
.identifyOrAnonymous p {
  text-align: center;
  padding: 15px 7px;
  align-self: center;
  color: #075e54;
  font-size: 20px;
} */
/* 
.identifyOrAnonymous button {
  margin-top: 15px;
  background: #54d38a;
  position: relative;
} */

.identifyOrAnonymous i {
  position: absolute;
  right: 0px;
  margin-right: 10px;
}

/* .identifyOrAnonymous button:hover {
  background: #075e54;
} */

input:invalid {
  border: 1px solid red !important;
}

.smallNotification {
  position: absolute !important;
  display: flex;
  justify-content: center;
  margin: 0 auto !important;
  width: 80% !important;
  height: 30px !important;
  border: 1px solid rgba(255, 99, 71, 0.3) !important;
  top: 0 !important;
  border-radius: 3px !important;
  background: rgba(255, 99, 71, 0.5) !important;
  color: #fff !important;
  text-align: center;
  align-items: center;
}
