
 <div
  class="flex flex-column justify-center align-center h-100 text-center family-info"
  *ngIf="page == 'offers'"
  style="height: 500px;"
>
  <h1 class="para-title">
    Here are the offers we found for you:
  </h1>
  <!-- <h5 class="" style="margin: 10px 0; font-weight: 500;">
    Offer information:
  </h5> -->
  <!-- <p class="para-body">
    <span class="block-element"
      >Amount: <strong>{{ result?.loan_amount | currency: "NGN" }}</strong> per
      month,
    </span>
    <span class="block-element"
      >Duration: For <strong>{{ result?.duration }} months</strong>.</span
    >
    <span class="block-element mt-3">
      this is an offer in principle and subject to final review</span
    >
  </p> -->


  <div
    class="ui grid justify-center "
    style="overflow: hidden; margin: 0 auto; cursor: pointer; z-index: 30;"
  >
    <div
      *ngFor="let offer of offersToShowParent; index as i"
      class="twelve wide column myborder mt-1 addFlexBehavior"
      [class.selectedOffer]="i == selectedOffer"
      (click)="selectOffers(i)"
    >
      <p class="bolded">
        <span class="housing"> Institution: <span class="f_institution">  {{ offer?.lender }} </span> </span>
        <span class="housing">  Loan: <span class="loan_amount"> ₦{{ offer?.amount }} </span>  </span>
        <span class="housing">  Duration: <span class="duration">{{offer?.duration}}</span>  </span>
        <span class="housing"> Rate:  <span class="rate">{{ offer?.rate }}</span>  </span>
        
      </p>
     
      

    </div>

    <br>
    <button [disabled]="selectedOffer == undefined" (click)="page = 'card_tokenisation'"  class="ui button primary basic">
      Continue
    </button>

    <!-- <div
      style="cursor: pointer; z-index: 30;"
      class="twelve wide column myborder addFlexBehavior"
     
    >
      <p class="bolded">
        Picture <span class=""><i class="fa fa-angle-right"></i> </span>
      </p>
    </div>

    <div
      style="cursor: pointer; z-index: 30;"
      class="twelve wide column myborder addFlexBehavior"
     
    >
      <p class="bolded">
        Work information
        <span class=""><i class="fa fa-angle-right"></i> </span>
      </p>
    </div> -->
  </div>

  <!-- <button
   (click)="page = 'preambleToForms'"
    class="ui button primary basic mt-4"
  >
    I Accept
  </button> -->
</div> 





<div
  class="flex flex-column justify-center align-center h-100 text-center family-info"
  *ngIf="page == 'preambleToForms'"
>
  <h1 class="para-title">
    To help your loan application, We require a some information
    from you.
  </h1>

  <div class="twelve wide column">
    <button (click)="changeToWorkAndLoadWidget('work-form')" class="ui button primary basic mr-3 mb-3">
      Ok, i am ready
    </button>

    <button disabled class="ui button primary basic">
      let's do this later.
    </button>
  </div>

  <div *ngIf="spinner" class="spinner-container">
    <i class="fa fa-circle-notch fa-spin fa-3x"></i>
  </div> 
</div>

<div
  class="flex flex-column justify-center align-center h-100 text-center family-info"
  *ngIf="page == 'card_tokenisation'"
>
  <h1 class="para-title">
    Thank you for submitting your statement for analysis and selecting an offer. We would like to tokenize your card to enable smooth payment 
  </h1>

  <div class="twelve wide column">
    <button (click)="insertIframeToDom()" class="ui button primary basic mr-3">
      Ok
    </button>

    <button disabled class="ui button primary basic">
      Cancel
    </button>
  </div>
</div>


<div
  class="flex flex-column justify-center align-center h-100 text-center family-info"
  *ngIf="page == 'pre_bankstatement'"
>
  <h1 class="para-title">
    Thank you for filling your bank details. 
    We would like to analyse your bank statement to determine if you can pay this loan.
    Please select your preferred method for analysis. 
  </h1>

  <div class="twelve wide column">
    <button (click)="insertBSIframeIntoDOM()" class="ui button primary basic mr-3">
      Online banking
    </button>

    <button disabled class="ui button primary basic">
      Statement
    </button>
  </div>
  <div *ngIf="spinner" class="spinner-container">
    <i class="fa fa-circle-notch fa-spin fa-3x"></i>
  </div> 
</div>


<div
  class="flex flex-column justify-center align-center h-100 text-center family-info"
  *ngIf="page == 'sorry-page'"
>
  <h1 class="para-title sorry__title">
    <span >
      <img  src="../../../assets/images/broken_link.svg" alt="">
    </span>
     <p>
      Sorry, we encountered some errors trying to connect to our servers!.
     </p>
  </h1>

  <div class="twelve wide column mt-3">
    <button (click)="insertIframeToDom()" class="ui button primary basic mr-3">
     Try again
    </button>

    <button class="ui button primary basic">
      cancel
    </button>
  </div>
  <div *ngIf="spinner" class="spinner-container">
    <i class="fa fa-circle-notch fa-spin fa-3x"></i>
  </div> 
</div>

<div
  class="flex flex-column justify-center align-center h-100 text-center family-info"
  id="divforIframe"
  *ngIf="page == 'iframe_container'"
>
      <div *ngIf="spinner" class="spinner-container">
        <i class="fa fa-circle-notch fa-spin fa-3x"></i>
      </div> 
</div>



<!-- work form -->
<div class=" h-100 text-center family-info" *ngIf="page == 'work-form'">
  <h1 class="para-title">
    Please where do you work?
  </h1>

  <app-work-form (changeUpTheViewTwo)="page = $event"></app-work-form>
</div>

<!-- Address info -->
<div class=" h-100 text-center family-info" *ngIf="page == 'address-info'">
  <h1 class="para-title">
    Please, where do you stay?
  </h1>

  <app-address-form (changeUpTheViewThree)="page = $event"></app-address-form>
</div>

<div class=" h-100 text-center family-info" *ngIf="page == 'preamble_to_bankdetails'">
  <h1 class="para-title">
    We would like to know what account your loan repayment will be debited from?
  </h1>

  <div class="twelve wide column">
    <button (click)="page = 'bank-details'" class="ui button primary basic mr-3 mb-3">
      Ok, let's go
    </button>

    <button disabled class="ui button primary basic">
      let's do this later.
    </button>
  </div>
  


</div>

<div class=" h-100 text-center family-info" *ngIf="page == 'bank-details'">
  <h1 class="para-title">
   Please enter your bank details
  </h1>
  

<app-parent-account-form
 (changeUpTheViewThree)="changeUpView($event)">
</app-parent-account-form>

</div>



<!-- BVN -->
<div class=" h-100 text-center family-info" *ngIf="page == 'bvn'">
  <h1 class="para-title">
    Enter BVN
  </h1>

  <form [formGroup]="BVNFORM" class="w-100" style="position: relative">
    <div class="ui form">
      <div class="field">
        <label>BVN</label>
        <input formControlName="bvn" type="number" placeholder="22917134590" />
        
      </div>
    </div>
<!--    (click)="page = 'valid-id'" -->
    <div class="text-center mt-4">
      <button
        type="button"
        class="ui primary button fluid"
        (click)="submitParentBVN(BVNFORM)"
        [disabled]="!BVNFORM.valid"
      >
        Continue
      </button>
    </div>
    <div *ngIf="spinner" class="spinner-container">
      <i class="fa fa-circle-notch fa-spin fa-3x"></i>
    </div>
  </form>
</div>

<!-- Means of identification -->

<div class=" h-100 text-center family-info" *ngIf="page == 'valid-id'">
  <h1 class="para-title">Select your preferred means of identification?</h1>

  <div class="ui grid justify-center" style="overflow: hidden; margin: 0 auto;">
    <div
      (click)="selectThis($event)"
      class="seven wide column myborder positioned-relative"
    >
      <img
        src="../../../assets/images/svgs/name.svg"
        alt=""
        style="max-width: 50px;"
      />
      <p
        class="bolded"
        style="line-height: 1rem; font-weight: bold; text-align: center;"
      >
        Voters ID
      </p>
      <i
        *ngIf="selected == 'Voters ID'"
        class="fa fa-check positioned-absolute"
      ></i>
    </div>

    <div
      (click)="selectThis($event)"
      class="six wide column myborder positioned-relative"
    >
      <img
        src="../../../assets/images/svgs/name.svg"
        style="max-width: 50px;"
        alt=""
      />
      <p
        class="bolded"
        style="line-height: 1rem; font-weight: bold; text-align: center;"
      >
        National ID
      </p>
      <i
        *ngIf="selected == 'National ID'"
        class="fa fa-check positioned-absolute"
      ></i>
    </div>

    <div
      (click)="selectThis($event)"
      class="seven wide column myborder positioned-relative"
    >
      <img
        src="../../../assets/images/svgs/name.svg"
        style="max-width: 50px;"
        alt=""
      />
      <p
        style="line-height: 1rem; font-weight: bold; text-align: center;"
        class="bolded"
      >
        International Passport
      </p>
      <i
        *ngIf="selected == 'International Passport'"
        class="fa fa-check positioned-absolute"
      ></i>
    </div>

    <div
      (click)="selectThis($event)"
      class="six wide column myborder positioned-relative"
    >
      <img
        src="../../../assets/images/svgs/name.svg"
        alt=""
        style="max-width: 50px;"
      />
      <p
        class="bolded"
        style="line-height: 1rem; font-weight: bold; text-align: center;"
      >
        Drivers licence
      </p>
      <i
        *ngIf="selected == 'Drivers licence'"
        class="fa fa-check positioned-absolute"
      ></i>
    </div>
  </div>

  <button
    *ngIf="selected"
    (click)="page = 'enter-id'"
    class="ui button primary basic mt-4"
  >
    Continue
  </button>
</div>

<div class=" h-100 text-center family-info" *ngIf="page == 'enter-id'">
  <h1 class="para-title">Enter {{ selected }}</h1>

  <form [formGroup]="IDForm" class="w-100" style="position: relative">
    <div class="ui form">
      <div class="field">
        <label>{{ selected }} </label>
        <input formControlName="ID_number" type="tel" placeholder="eg: AA100457u788" />
        <!-- <div *ngIf="name.touched && name.invalid" class="ng-invalid ng-touched">
              <small style="color: #f10b0b9d;" *ngIf="nameIsRequired()">
                Your name is required!</small>
            </div> -->
      </div>
    </div>

    <div class="text-center mt-4">
      <button
        [disabled]="!IDForm.valid"
        type="button"
        class="ui primary button fluid"
        (click)="accepted(IDForm)"
      >
        Continue
      </button>
    </div>
    <div *ngIf="spinner" class="spinner-container">
      <i class="fa fa-circle-notch fa-spin fa-3x"></i>
    </div>
  </form>
</div>

<div
  class=" h-100 text-center family-info"
  *ngIf="page == 'checking' && !result"
>
  <h1 class="para-title">
    {{ text }}
  </h1>
  <p class="para-body mt-3">
    <svg
      width="73px"
      height="88px"
      viewBox="0 0 73 88"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g id="hourglass">
        <path
          d="M63.8761664,86 C63.9491436,84.74063 64,83.4707791 64,82.1818182 C64,65.2090455 57.5148507,50.6237818 48.20041,44 C57.5148507,37.3762182 64,22.7909545 64,5.81818182 C64,4.52922091 63.9491436,3.25937 63.8761664,2 L10.1238336,2 C10.0508564,3.25937 10,4.52922091 10,5.81818182 C10,22.7909545 16.4851493,37.3762182 25.79959,44 C16.4851493,50.6237818 10,65.2090455 10,82.1818182 C10,83.4707791 10.0508564,84.74063 10.1238336,86 L63.8761664,86 Z"
          id="glass"
          fill="skyblue"
        ></path>
        <rect
          id="top-plate"
          fill="#9A9A9A"
          x="0"
          y="0"
          width="74"
          height="8"
          rx="2"
        ></rect>
        <rect
          id="bottom-plate"
          fill="#9A9A9A"
          x="0"
          y="80"
          width="74"
          height="8"
          rx="2"
        ></rect>

        <g id="top-sand" transform="translate(18, 21)">
          <clipPath id="top-clip-path" fill="white">
            <rect x="0" y="0" width="38" height="21"></rect>
          </clipPath>

          <path
            fill="#F5A623"
            clip-path="url(#top-clip-path)"
            d="M38,0 C36.218769,7.51704545 24.818769,21 19,21 C13.418769,21 1.9,7.63636364 0,0 L38,0 Z"
          ></path>
        </g>

        <g id="bottom-sand" transform="translate(18, 55)">
          <clipPath id="bottom-clip-path" fill="white">
            <rect x="0" y="0" width="38" height="21"></rect>
          </clipPath>

          <g clip-path="url(#bottom-clip-path)">
            <path
              fill="#F5A623"
              d="M0,21 L38,21 C36.1,13.3636364 24.581231,0 19,0 C13.181231,0 1.781231,13.4829545 0,21 Z"
            ></path>
          </g>
        </g>
      </g>
    </svg>
  </p>

      <!-- <p class="para-title" style="text-align: center;">
        Searching for a financial institution for you...
      </p> -->
</div>

<div
  class="flex flex-column justify-center align-center h-100 text-center family-info"
  *ngIf="page == 'result'"
>
  <h1 class="para-title">
    Credit Information
  </h1>
  <h5 class="" style="margin: 10px 0; font-weight: 500;"></h5>
  <p class="para-body">
    <span class="block-element"
      >You will pay <strong>N34,000/Monthly </strong> for 10 months</span
    >
    <span class="block-element"
      >You will have pay <strong> N68,000 (first 2 months) in advance </strong>
    </span>
  </p>

  <div class="twelve wide column">
    <button class="ui button primary basic mr-3">
      Accept
    </button>

    <button disabled class="ui button primary basic">
      Review later
    </button>
  </div>
</div>
