.positioned-relative {
  position: relative;
  cursor: pointer;
}

.positioned-absolute {
  position: absolute;

  top: 3%;
  left: 70%;
  height: 30px;
  width: 30px;
  border: 1px solid #00000033;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@keyframes top-clip {
  0% {
  }
  50% {
    transform: translateY(21px);
  }
  100% {
    transform: translateY(21px);
  }
}

@keyframes bottom-sand-path {
  0% {
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}


.addFlexBehavior {
  display: flex !important;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem !important;
  cursor: pointer;
}

.addFlexBehavior p {
  margin-bottom: 0 !important;
}

.addFlexBehavior .f_institution, .addFlexBehavior .duration, .addFlexBehavior .rate, .addFlexBehavior .loan_amount{
  font-weight: bolder;
  margin-left: 10px;
}

.housing{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.selectedOffer{
  border: 2px solid #495057;
  transition: border 250ms ease;
}

.sorry__title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.sorry__title span{
    width: 80%;
    height: 100%;
}

.sorry__title span img{
  max-width: 80%;
  object-fit: cover;
}



@keyframes bottom-sand-g {
  0% {
  }
  85% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-9px);
  }
}

@keyframes hourglass-rotation {
  50% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

#top-sand #top-clip-path rect,
#bottom-sand path,
#bottom-sand g,
svg {
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
}

#top-sand #top-clip-path rect {
  animation-name: top-clip;
}

#bottom-sand path {
  transform: translateY(21px);
  animation-name: bottom-sand-path;
}

#bottom-sand g {
  animation-name: bottom-sand-g;
}

svg {
  animation-name: hourglass-rotation;
}
