<div class="parent">
  <div *ngIf="overlay" class="this-overlay"></div>
  <div *ngIf="view == ''" class="h-100 text-center family-info">
    <h1 class="para-title">Please enter phone or email you registered with</h1>

    <form
      [formGroup]="confirmPhoneOrEmailForm"
      class="w-100"
      style="position: relative"
    >
      <div class="ui form">
        <div class="field">
          <label>Phone or email</label>
          <input
            formControlName="phoneOrEmail"
            type="text"
            placeholder="Eg: johnny@john.com"
          />
        </div>
      </div>

      <div class="text-center mt-4">
        <!-- checking(); -->
        <button
          (click)="collectEntry()"
          [disabled]="!confirmPhoneOrEmailForm.valid"
          type="button"
          class="ui primary button fluid"
        >
          Continue
        </button>
      </div>
      <div *ngIf="spinner" class="spinner-container">
        <i class="fa fa-circle-notch fa-spin fa-3x"></i>
      </div>
    </form>
  </div>

  <div *ngIf="view == 'pin_not_set'" class="h-100 text-center family-info">
    <h1 class="para-title">Please enter pin that was sent to {{confirmPhoneOrEmailForm?.value?.phoneOrEmail}} </h1>

    <form
      [formGroup]="setUpPinForm"
      class="w-100"
      style="position: relative"
    >
      <div class="ui form mb-2">
        <div class="field">
          <label>PIN sent</label>
          <input
            formControlName="pin_in_email"
            type="text"
            placeholder="Eg: 3348"
          />
        </div>
      </div>

      <div class="ui form">

        <div class="field">
          <label>New PIN</label>
          <input
            (input)="generalservice.restrictInputDigits($event, 4)"
            formControlName="new_pin"
            type="text"
            placeholder="Eg: 1234"
          />
        </div>
      </div>

      <div class="text-center mt-4">
        <!-- checking(); -->
        <button
          (click)="checkAndSetNewPin(setUpPinForm)"
          [disabled]="!setUpPinForm.valid"
          type="button"
          class="ui primary button fluid"
        >
          Continue
        </button>
      </div>
      <div *ngIf="spinner" class="spinner-container">
        <i class="fa fa-circle-notch fa-spin fa-3x"></i>
      </div>
    </form>
  </div>

  <div *ngIf="view == 'four-digit-pin'" class="h-100 text-center family-info">
    <h1 class="para-title">
      Enter PIN 
      <!-- Enter 4 digit PIN for
      {{ checkWhoIsTryingToContinue.email || checkWhoIsTryingToContinue.phone }} -->
    </h1>

    <form class="w-100" style="position: relative">
      <div class="ui form">
        <div class="field">
          <!-- <label>PIN</label> -->
          <input
            disabled
            [(ngModel)]="input"
            style="text-align: center; opacity: 1;
            font-weight: bold;"
            name="input"
            type="text"
            placeholder="Eg: 1we6679"
          />
        </div>
      </div>

      <!-- <div class="text-center mt-4">
        <button
          (click)="view = 'four-digit-pin'"
          type="submit"
          class="ui primary button fluid"
        >
          Continue
        </button>
      </div> -->
    </form>

    <div
      class="flex flex-column justify-center align-center h-100 text-center family-info"
    >
      <div
        class="ui grid justify-center"
        style="overflow: hidden; margin: 20px auto; width: 100%; cursor: pointer; z-index: 20;"
      >
        <div
          *ngFor="let number of arrayOfNumbers; index as i"
          class="three wide column myborder positioned-relative"
        >
          <p
            (click)="enterContentIntoInput($event)"
            *ngIf="number == 11; else backSpace"
            class="bolded backspace"
          >
            <i class="fas fa-backspace backspace"></i>
          </p>
          <ng-template #backSpace>
            <p (click)="enterContentIntoInput($event)" class="bolded ">
              {{ number }}
            </p>
          </ng-template>
        </div>
      </div>

      <div class="text-center mt-4">
        <!-- (click)="continue()" -->
        <button
          [disabled]="input.length < 3"
          type="button"
          (click)="submitThisUser()"
          class="ui primary button fluid"
        >
          Submit
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="view == 'phone_verify_first'" class="h-100 text-center family-info">
    <h1 class="para-title">Please enter phone you registered with</h1>

    <form
      [formGroup]="contactPhoneForm"
      class="w-100"
      style="position: relative"
    >
      <div class="ui form">
        <div class="field">
          <label>Phone</label>
          <input
            formControlName="phone"
            type="text"
            placeholder="Eg: 08033231589"
          />
        </div>
      </div>

      <div class="text-center mt-3">
        <!-- checking(); -->
        <button
          (click)="submitContactPhone(contactPhoneForm)"
          [disabled]="!contactPhoneForm.valid"
          type="button"
          class="ui primary button fluid"
        >
          Continue
        </button>
      </div>
      <div *ngIf="spinner" class="spinner-container">
        <i class="fa fa-circle-notch fa-spin fa-3x"></i>
      </div>
    </form>
  </div>

  <div *ngIf="view == 'phone_verify_second'" class="h-100 text-center family-info">
    <h1 class="para-title">Please enter OTP sent to {{ parentDetails?.phone }}  </h1>

    <form
      [formGroup]="phoneOTPForm"
      class="w-100"
      style="position: relative"
    >
      <div class="ui form">
        <div class="field">
          <label>OTP</label>
          <input
            formControlName="OTP_for_phone"
            type="text"
            placeholder="Eg: 1234"
          />
        </div>
      </div>

      <div class="text-center mt-3">
        <!-- checking(); -->
        <button
          (click)="submitOTPFromPhone(phoneOTPForm)"
          [disabled]="!phoneOTPForm.valid"
          type="button"
          class="ui primary button fluid"
        >
          Continue
        </button>
      </div>
      <div *ngIf="spinner" class="spinner-container">
        <i class="fa fa-circle-notch fa-spin fa-3x"></i>
      </div>
    </form>
  </div>

  <span class="checking">
    Checking {{ checkWhoIsTryingToContinue.email ? "email" : "phone" }}
    <i style="margin-left: 7px" class="fa fa-circle-notch fa-spin"></i>
  </span>
</div>
