div.parent {
  /* display: -webkit-box; */
  /* position: relative; */
  /* padding-top: 20px; */
  /* -webkit-box-orient: vertical; */
  /* -webkit-box-direction: normal; */
  /* -webkit-box-pack: start; */
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* .parent img {
  height: 100px;
  text-align: center;
} */

.parent form {
  width: 100%;
}
/* 
[type="submit"] {
  margin: 15px 0;
  background: #54d38a !important;
}

button[type="submit"]:hover {
  border: 1px solid #54d38a !important;
  background: #fff !important;
  color: #54d38a !important;
}

.button i {
  position: absolute !important;
  right: 0px !important;
  margin-right: 10px !important;
} */

/* .parent p:nth-child(2) {
  font-size: 2rem;
  padding: 1.2rem 0;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
} */

div.familyDetails {
  /* position: relative; */
  display: flex;
  height: 550px !important;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

div.familyDetails p {
  transition: all 0.7s ease-in-out;
}

/* div.familyDetails p:first-child {
  font-size: 1.75rem;
  font-weight: 450;
  word-spacing: 0.09rem;
  text-align: center;
  line-height: 1.69rem;
} */

/* div.providingID starts here */
div.providingID {
  position: relative;
  display: flex;
  height: 550px !important;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

div.providingID p {
  transition: all 0.7s ease-in-out;
}

div.providingID p:first-child {
  font-size: 1.75rem;
  font-weight: 450;
  word-spacing: 0.09rem;
  text-align: center;
  line-height: 1.69rem;
}
/* ends here */
/* Alternate numberBlock  starts here*/

div.numberBlockAlt {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  /* border: 1px solid red; */
  padding: 10px 10px;
  transition: display 1s ease-in-out;
}

div.numberBlockOneAlt > div > img {
  height: 37px;
  text-align: center;
  opacity: 0.5;
}

div.numberBlock p,
div.numberBlockOne p,
div.numberBlockOneAlt p {
  margin-top: 8px;
  /* font-size: 1rem; */
  font-weight: 600;
}

div.numberBlockOneAlt {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  height: 120px;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ends here */
div.numberBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  /* border: 1px solid red; */
  padding: 10px 10px;
  transition: display 1s ease-in-out;
}

div.numberBlockOne > div > img {
  height: 37px;
  text-align: center;
  opacity: 0.5;
}

div.numberBlockOne {
  cursor: pointer;
  display: flex;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  height: 120px;
  width: 100%;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thickenBorderBottom {
  border-bottom-style: solid !important;
  border-bottom-width: thick !important;
  /* border: 1px solid #54d38a !important; ! */
}

/* div.translateCoverPlate {
  position: absolute;
  background: #fff;
  border: 1px solid;
  height: 100%;
  width: 100%;
  transform: translateY(160px);
  border-radius: 30px;
  top: 0;
  left: 0;
  padding: 1.2rem 1rem;
  display: none;
}

div.translateCoverPlate p {
  transition: all 0.7s ease-in-out;
  width: 100%;
  text-align: center;
  padding: 1rem 0.5rem;
}

div.translateCoverPlate p:nth-child(2),
div.translateCoverPlate p:nth-child(3) {
  background: #54d38a;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #54d38a;
}

div.translateCoverPlate p:nth-child(2):hover,
div.translateCoverPlate p:nth-child(3):hover {
  background: #fff;
  border-radius: 8px;
}

div.translateCoverPlate a {
  color: #fff;
}

div.translateCoverPlate a:hover {
  color: #075e54;
}

div.translateCoverPlate p:last-child > a {
  color: tomato;
  font-size: 1.5rem;
  text-decoration: underline;
}

div.translateCoverPlate p:last-child {
  margin-top: 40px;
}

div.translateCoverPlate div.identificationForm {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  margin: 90px 0 0 0px;
} */

div.identificationForm form {
  /* border: 1px solid red; */
  width: 100%;
}

/* animations for sliding in and out starts here */
/* .animationIn {
  animation: slideUp 0.4s linear 1 forwards;
}

.animationOut {
  animation: slideDown 0.4s linear 1 forwards;
} */

/* .numberBlock.modifyFontSize p {
  font-size: 1.3rem !important;
} */

/* @keyframes slideUp {
  0% {
    transform: translateY(500px);
  }

  50% {
    transform: translateY(300px);
  }

  100% {
    transform: translateY(160px);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(160px);
  }

  50% {
    transform: translateY(350px);
  }

  100% {
    transform: translateY(550px);
  }
} */

/* ends here */
