<!-- @Input('knowYourReceiver') kyc: object = {nextStage: undefined, previousStage: undefined} -->
<div [ngSwitch]="toKYCComponent?.nextStage" class="h-100">
  <div *ngSwitchCase="'fpw'" class="h-100">
    <div class="parent">
      <div class="modal-icon mb-4">
        <img src="../../../assets/images/svgs/family.svg" alt="" />
      </div>

      <p class="para-title shrink mb-4">
        Let us know you on behalf of your family
      </p>

      <form class="mt-4" [formGroup]="familyGroupForm" (ngSubmit)="submit(familyGroupForm)">
        <div class="ui form">
          <div class="field">
            <label>Full name</label>
            <input type="text" formControlName="fullname" placeholder="Enter fullname" />

            <div *ngIf="fullname.touched && fullname.invalid" class="ng-invalid ng-touched">
              <small style="color: #f10b0b9d;" *ngIf="fullnameIsRequired()">
                Your family full name is required!</small>
            </div>
          </div>
          <div class="field">
            <label>Phone number</label>
            <input formControlName="phonenumber" name="tel2" type="tel" pattern="[0-9]{11}"
              placeholder="Enter phone number" />

            <div *ngIf="phonenumber.touched && phonenumber.invalid" class="ng-invalid ng-touched">
              <small style="color: #f10b0b9d;" *ngIf="phoneIsRequired()">
                Your phone number is required!</small>
            </div>
          </div>
          <div class="field">
            <label>Occupation</label>
            <input formControlName="occupation" type="text" placeholder="What do you do for a living?" />

            <div *ngIf="occupation.touched && occupation.invalid" class="ng-invalid ng-touched">
              <small style="color: #f10b0b9d;" *ngIf="occupationIsRequired()">
                Your occupation is required!</small>
            </div>
          </div>
        </div>

        <div class="text-center mt-4">
          <button [disabled]="!familyGroupForm.valid" type="submit" class="ui primary button"
            [ngClass]="{ loading: !loading }">
            Continue
          </button>
        </div>
      </form>
    </div>
  </div>

  <div *ngSwitchCase="'familyDetails'">
    <div class="familyDetails">
      <p class="para-title mb-5 shrink modifiableParagraph">
        Number of people in your immediate family?
      </p>

      <div class="numberBlock">
        <div (click)="selectFamilySize($event, '1')" class="numberBlockOne">
          <div>
            <img src="../../../assets/images/svgs/user.svg" alt="" />
          </div>
          <p>1</p>
          <!-- <p><i class="fa fa-check"></i></p> -->
        </div>

        <div (click)="selectFamilySize($event, '2-3')" class="numberBlockOne">
          <div>
            <img src="../../../assets/images/svgs/user.svg" alt="" />
          </div>
          <p>2-3</p>
          <!-- <p><i class="fa fa-check"></i></p> -->
        </div>

        <div (click)="selectFamilySize($event, '4-6')" class="numberBlockOne">
          <div>
            <img src="../../../assets/images/svgs/user.svg" alt="" />
          </div>
          <p>4-6</p>
          <!-- <p><i class="fa fa-check"></i></p> -->
        </div>

        <div (click)="selectFamilySize($event, '6+')" class="numberBlockOne">
          <div>
            <img src="../../../assets/images/svgs/user.svg" alt="" />
          </div>
          <p>6+</p>
          <!-- <p><i class="fa fa-check"></i></p> -->
        </div>
        <!-- <span class="goBack">go back</span> -->
      </div>

      <div class="numberBlockAlt">
        <div (click)="selectFamilySize($event, '', 'numberBlockAlt')" class="numberBlockOneAlt">
          <div>
            <img src="../../../assets/images/svgs/user.svg" alt="" />
          </div>
          <p>Father</p>
          <!-- <p><i class="fa fa-check"></i></p> -->
        </div>

        <div (click)="selectFamilySize($event, '', 'numberBlockAlt')" class="numberBlockOneAlt">
          <div>
            <img src="../../../assets/images/svgs/user.svg" alt="" />
          </div>
          <p>Mother</p>
          <!-- <p><i class="fa fa-check"></i></p> -->
        </div>

        <div (click)="selectFamilySize($event, '', 'numberBlockAlt')" class="numberBlockOneAlt">
          <div>
            <img src="../../../assets/images/svgs/user.svg" alt="" />
          </div>
          <p>Son</p>
          <!-- <p><i class="fa fa-check"></i></p> -->
        </div>

        <div (click)="selectFamilySize($event, '', 'numberBlockAlt')" class="numberBlockOneAlt">
          <div>
            <img src="../../../assets/images/svgs/user.svg" alt="" />
          </div>
          <p>Daughter</p>
          <!-- <p><i class="fa fa-check"></i></p> -->
        </div>

        <button (click)="goBack('familyDetails')" class="modal-back">
          <i class="fa fa-chevron-left"></i>
        </button>
      </div>

      <div class="translateCoverPlate">
        <div class="inner-modal preliminary" style="display: none;">
          <div class="inner-modal-content flex flex-column align-center text-center">
            <h1 class="para-title">Provide means of Identification</h1>
            <p class="para-body">
              We need You and one other member of your family to provide us with
              any of National ID, Voters ID, BVN
            </p>

            <button class="ui button primary basic mt-4" (click)="provideID()">
              Yes, i have a family member with ID
            </button>
            <a hidden class="mt-3 link" (click)="cancelPreliminaryPage()">
              No, I am a single parent
            </a>
            <!-- <span (click)="goBack('familyDetails')" class="goBack">
              <a>back</a></span> -->
          </div>
          <!-- <span (click)="goBack('familyDetails')" class="goBack">go back</span> -->
        </div>

        <!-- <div class="preliminary" style="display: none">
          <p>
            We need You and your {{ familyDetailsInfo.spouse }} to provide us
            with any of National ID, Voters ID, BVN
          </p>

          <p>
            <a (click)="provideID()">
              Yes, i have a {{ familyDetailsInfo.nameOfFamilyToDisplay }} with ID
            </a>
          </p>
          <p>
            <a (click)="cancelPreliminaryPage()">No, i am a single parent</a>
          </p>
          <p style="cursor: pointer;" (click)="cancelPreliminaryPage()">
            <a>cancel</a>
          </p>
        </div> -->

        <!-- <div class="identificationForm">
          <form>
            <div class="ui form">
              <div class="field">
               
                <input type="text" placeholder="Enter NIN" />
              </div>
            </div>

            <button type="submit" class="fluid ui primary button">
              Done <i hidden class="fas fa-circle-notch fa-spin"></i>
            </button>
          </form>
        </div> -->
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'providingID'">
    <div class="familyDetails" style="position:relative">
      <p #pToTrack class="para-title shrink modifiableParagraph mb-5">
        Please provide your ID
      </p>
      <small class="smallNotification" *ngIf="notification?.show">
        {{ notification?.message }}
      </small>
      <!-- testing -->

      <!-- testing -->
      <div id="idSelectionDiv" class="numberBlock modifyFontSize">
        <div (click)="selectID($event)" class="numberBlockOne">
          <div>
            <img src="../../../assets/images/svgs/user.svg" alt="" />
          </div>
          <p>National ID</p>
          <!-- <p><i class="fa fa-check"></i></p> -->
        </div>

        <div (click)="selectID($event)" class="numberBlockOne">
          <div>
            <img src="../../../assets/images/svgs/user.svg" alt="" />
          </div>
          <p>Voters ID</p>
          <!-- <p><i class="fa fa-check"></i></p> -->
        </div>

        <div (click)="selectID($event)" class="numberBlockOne">
          <div>
            <img src="../../../assets/images/svgs/user.svg" alt="" />
          </div>
          <p>BVN</p>
          <!-- <p><i class="fa fa-check"></i></p> -->
        </div>

        <div (click)="selectID($event)" class="numberBlockOne">
          <div>
            <img src="../../../assets/images/svgs/user.svg" alt="" />
          </div>
          <p>Drivers licence</p>
          <!-- <p><i class="fa fa-check"></i></p> -->
        </div>

      </div>

      <form *ngIf="allowedToShow" class="ui form mt-4">
        <div class="field">
          <div class="ui checkbox">
            <input (click)="iDontHaveAFamilyWithID($event)" type="checkbox" tabindex="0">
            <label style="line-height: 1">I do not have a family member with id</label>
          </div>
        </div>
      </form>

      <div class="numberBlockAlt">
        <div (click)="selectFamilySize($event, '', 'numberBlockAlt')" class="numberBlockOneAlt">
          <div>
            <img src="../../../assets/images/svgs/user.svg" alt="" />
          </div>
          <p>Father</p>
          <!-- <p><i class="fa fa-check"></i></p> -->
        </div>

        <div (click)="selectFamilySize($event, '', 'numberBlockAlt')" class="numberBlockOneAlt">
          <div>
            <img src="../../../assets/images/svgs/user.svg" alt="" />
          </div>
          <p>Mother</p>
          <!-- <p><i class="fa fa-check"></i></p> -->
        </div>

        <div (click)="selectFamilySize($event, '', 'numberBlockAlt')" class="numberBlockOneAlt">
          <div>
            <img src="../../../assets/images/svgs/user.svg" alt="" />
          </div>
          <p>Son</p>
          <!-- <p><i class="fa fa-check"></i></p> -->
        </div>

        <div (click)="selectFamilySize($event, '', 'numberBlockAlt')" class="numberBlockOneAlt">
          <div>
            <img src="../../../assets/images/svgs/user.svg" alt="" />
          </div>
          <p>Daughter</p>
          <!-- <p><i class="fa fa-check"></i></p> -->
        </div>
        <!-- <span (click)="goBack('providingID')" class="goBack">go back</span> -->
      </div>

      <div id="translateCoverPlateForProvidingID" class="translateCoverPlate">
        <div class="inner-modal preliminary" style="display: none;">
          <div class="inner-modal-content flex flex-column align-center text-center">
            <div class="modal-icon">
              <img src="../../../../assets/images/svgs/alert.svg" alt="ICON" />
            </div>
            <h1 class="para-title">Provide means of Identification</h1>
            <p class="para-body">
              We need You and your {{ spouse }} to provide us with any of
              National ID, Voters ID, BVN
            </p>

            <button class="ui button primary basic mt-4" (click)="provideID()">
              Yes, I have a wife with ID
            </button>
            <a class="mt-3 link" (click)="cancelPreliminaryPage()">
              No, I am a single parent
            </a>
          </div>
        </div>

        <div class="identificationForm">
          <form [formGroup]="idForm" (ngSubmit)="submitIdForm(idForm)">
            <div class="ui form mt-4">
              <div class="field">
                <input [readonly]="noInputAllowed" formControlName="id"
                  [attr.type]="IdToProvide == 'BVN' ? 'number' : 'text'"
                  [attr.placeholder]="'Enter' + ' ' + IdToProvide" />
              </div>
            </div>

            <div class="text-center mt-2">
              <button [disabled]="!idForm.valid" type="submit" class="fluid ui primary button">
                Done
              </button>
            </div>
          </form>
        </div>
      </div>

      <span *ngIf="allowedToShow" (click)="goBack('providingID', '1')" class="goBack">back</span>
    </div>
  </div>
</div>






























<!-- <form class="ui form mt-4">
  <div class="ui segment">
    <div class="field">
      <div class="ui toggle checkbox">
        <input type="checkbox" name="gift" tabindex="0" class="hidden">
        <label>Do not include a receipt in the package</label>
      </div>
    </div>
  </div>
</form> -->