.modified-img {
  max-width: 150px;
  margin: 0 auto;
}

.modified-button {
  margin-top: 2rem;
}

/* .code-form {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.code-form.show {
  transform: translateY(0px);
} */

.positioned-relative {
  position: relative;
  cursor: pointer;
}

.positioned-absolute {
  position: absolute;

  top: 3%;
  left: 70%;
  height: 30px;
  width: 30px;
  border: 1px solid #00000033;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
