<div
  class="flex flex-column justify-center align-center h-100 text-center family-info"
  *ngIf="view == ''"
>
  <!-- <div class="modal-icon">
    <img src="../../../../assets/images/svgs/information_1.svg" alt="ICON" />
  </div> -->
  <h1 class="para-title">Who are you?</h1>

  <div
    class="ui grid justify-center"
    style="overflow: hidden; margin: 0 auto; cursor: pointer; z-index: 30;"
  >
    <div
      (click)="changeThisToProfile($event)"
      class="seven wide column myborder "
    >
      <img src="../../../assets/images/svgs/user.svg" alt="" />
      <p class="bolded">Parent</p>
    </div>

    <div
      (click)="changeThisToProfile($event)"
      style="cursor: pointer; z-index: 30;"
      class="eight wide column myborder"
    >
      <img src="../../../assets/images/svgs/user.svg" alt="" />
      <p class="bolded">Guardian</p>
    </div>
  </div>
</div>

<div class=" h-100 text-center family-info" *ngIf="view == 'profile-form'">
  <h1 class="para-title">
    Let's meet you
  </h1>

  <app-profile-form (changeUpTheViewThree)="view = $event"></app-profile-form>
</div>

<div
  class="flex flex-column justify-center align-center h-100 text-center family-info"
  *ngIf="view == 'choose-verification'"
>
  <h1 class="para-title">Choose your preferred means of verification?</h1>

  <div
    class="ui grid justify-center"
    style="overflow: hidden; margin: 0 auto; width: 100%; cursor: pointer; z-index: 20;"
  >
    <div
      (click)="selected = 'phone'"
      class="seven wide column myborder positioned-relative"
    >
      <img src="../../../assets/images/svgs/smartphone_1.svg" alt="" />
      <p class="bolded">Phone</p>
      <i
        *ngIf="selected == 'phone'"
        class="fa fa-check positioned-absolute"
      ></i>
    </div>

    <div
      (click)="selected = 'email'"
      style="cursor: pointer; z-index: 30;  "
      class="seven wide column myborder positioned-relative"
    >
      <img src="../../../assets/images/svgs/email_1.svg" alt="" />
      <p class="bolded">Email</p>
      <i
        *ngIf="selected == 'email'"
        class="fa fa-check positioned-absolute"
      ></i>
    </div>
  </div>

  <div class="text-center mt-4">
    <button
      (click)="view = 'enter-code'"
      [disabled]="selected.length < 1"
      type="submit"
      class="ui primary button fluid"
    >
      Get code
    </button>
  </div>
</div>

<div class=" h-100 text-center family-info" *ngIf="view == 'picture'">
  <h1 class="para-title">
    Please click the image below to upload a picture
  </h1>

  <app-picture
    (startSpinner)="spinner = $event"
    (changeUpTheView)="change($event)"
  ></app-picture>
  <div *ngIf="spinner" class="spinner-container">
    <i class="fa fa-circle-notch fa-spin fa-3x"></i>
  </div>
</div>

<div class=" h-100 text-center family-info" *ngIf="view == 'work-form'">
  <h1 class="para-title">
    Please enter your work information
  </h1>

  <app-work-form (changeUpTheViewTwo)="view = 'confirm-email'"></app-work-form>
</div>

<div class=" h-100 text-center family-info" *ngIf="view == 'four-digit-pin'">
  <h1 class="para-title">
    Select a 4 digit pin for future identification
  </h1>

  <form [formGroup]="PINForm" class="w-100" style="position: relative">
    <div class="ui form">
      <div class="field">
        <label>PIN</label>
        <input formControlName="pin" type="tel" placeholder="Eg: 1230045566" />
      </div>
    </div>

    <div class="text-center mt-4">
      <button
        (click)="saveParentInfo(PINForm)"
        type="button"
        class="ui primary button fluid"
      >
        Save and continue
      </button>
    </div>
  </form>

  <div *ngIf="spinner" class="spinner-container">
    <i class="fa fa-circle-notch fa-spin fa-3x"></i>
  </div>
</div>

<div *ngIf="view == 'address'" class="h-100 text-center family-info">
  <h1 class="para-title">Please enter your residential address</h1>

  <form class="w-100" style="position: relative">
    <div class="ui form">
      <div class="field">
        <label>Address </label>
        <input
          [(ngModel)]="address"
          name="address"
          type="text"
          placeholder="Eg: 21, Bolaji Street Surulere "
        />
      </div>
    </div>
    <!-- (click)="view = 'state'" -->
    <div class="text-center mt-4">
      <button
        (click)="submitAddressForm()"
        [disabled]="address.length < 2"
        type="submit"
        class="ui primary button fluid"
      >
        Continue
      </button>
    </div>
  </form>
</div>

<div *ngIf="view == 'state'" class="h-100 text-center family-info">
  <h1 class="para-title">Please select your state of residence</h1>

  <form class="w-100" style="position: relative">
    <div class="ui form">
      <div class="field">
        <label>State </label>
        <!-- <input
          [(ngModel)]="state"
          (change)="selectLgaInState(state)"
          name="state"
          type="text"
          placeholder="Eg: Lagos"
        /> -->
        <select
          (change)="selectLgaInState($event.target.value)"
          style="height: auto;"
          class="ui fluid search dropdown"
          name="card[expire-month]"
          [(ngModel)]="state"
        >
          <option value="" selected>Select state...</option>
          <option
            [value]="nigerianstate.id"
            *ngFor="let nigerianstate of NigerianStates; index as i"
          >
            {{ nigerianstate.value }}
          </option>
        </select>
      </div>
    </div>
    <!-- (click)="view = 'lga'" -->
    <div class="text-center mt-4">
      <button
        (click)="submitStateForm()"
        type="submit"
        class="ui primary button fluid"
      >
        Continue
      </button>
    </div>
  </form>
</div>

<div *ngIf="view == 'lga'" class="h-100 text-center family-info">
  <h1 class="para-title">Please enter the Local Govt Area where you reside</h1>

  <form class="w-100" style="position: relative">
    <div class="ui form">
      <div class="field">
        <label>Local Govt Area </label>
        <input type="text" placeholder="Eg: 21, Bolaji Street Surulere " />
      </div>
    </div>

    <div class="text-center mt-4">
      <button
        (click)="view = 'picture'"
        type="submit"
        class="ui primary button fluid"
      >
        Continue
      </button>
    </div>
  </form>
</div>

<div class=" h-100 text-center family-info" *ngIf="view == 'phone'">
  <h1 class="para-title">
    Enter preferred phone number for contact
  </h1>

  <form [formGroup]="phoneForm" class="w-100" style="position: relative">
    <div class="ui form">
      <div class="field">
        <label>Phone</label>
        <input
          formControlName="phone"
          type="tel"
          pattern="[0-9]{11}"
          placeholder="Eg: 09093345678"
        />
        <small
        class="warning"
        [style.display]="phone.touched && !phone.valid ? 'block' : 'none'"
      >
        Please enter age between 0 - 99
      </small>
      </div>
    </div>
<!-- pattern="[0-9]*" -->
    <div class="text-center mt-4">
      <button
        [disabled]="!phoneForm.valid"
        (click)="submitPhoneForm(phoneForm)"
        type="button"
        class="ui primary button fluid"
      >
        Continue
      </button>
    </div>
    <div *ngIf="spinner" class="spinner-container">
      <i class="fa fa-circle-notch fa-spin fa-3x"></i>
    </div>
  </form>
  <!--  (click)="changeToStuff()" -->
</div>

<div class=" h-100 text-center family-info" *ngIf="view == 'email'">
  <h1 class="para-title">
    Enter preferred email for contact
  </h1>

  <form [formGroup]="emailForm" class="w-100" style="position: relative">
    <div class="ui form">
      <div class="field">
        <label>Email</label>
        <input
          formControlName="email"
          type="email"
          placeholder="Eg: johndoe@gmail.com"
        />
      </div>
    </div>

    <div class="text-center mt-4">
      <button
        (click)="submitEmail(emailForm)"
        type="button"
        class="ui primary button fluid"
      >
        Continue
      </button>
    </div>
    <div *ngIf="spinner" class="spinner-container">
      <i class="fa fa-circle-notch fa-spin fa-3x"></i>
    </div>
  </form>
</div>

<div class=" h-100 text-center family-info" *ngIf="view == 'verification'">
  <h1 class="para-title">Enter OTP sent to {{ selected }}</h1>

  <form
    [formGroup]="phoneVerificationForm"
    class="w-100"
    style="position: relative"
  >
    <div class="ui form">
      <div class="field">
        <label>Verification code</label>
        <input formControlName="OTP" type="tel" placeholder="Eg: 1we6679" />
      </div>
    </div>

    <div class="text-center mt-4">
      <button
        (click)="confirmVerification(phoneVerificationForm)"
        type="button"
        class="ui primary button fluid"
      >
        Continue
      </button>
    </div>
    <div *ngIf="spinner" class="spinner-container">
      <i class="fa fa-circle-notch fa-spin fa-3x"></i>
    </div>
  </form>
</div>
