/* @import url("https://fonts.googleapis.com/css?family=Inter:200,300,400,600&display=swap"); */
/* @import url("../node_modules/angular-notifier/styles/types/type-warning.css");
@import url("../node_modules/angular-notifier/styles/types/type-success.css"); */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

html {
  font-size: 16px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  color: #495057;
}

body {
  margin: 0;
  /* background: linear-gradient(to bottom right, #00bcd4, #1a2461); */
  /* background: linear-gradient(to bottom right, #1a1a1f, #111114); */
  /* background: #005c97;
  background: -webkit-linear-gradient(to right, #363795, #005c97);
  background: linear-gradient(
    to right,
    #363795,
    #005c97
  ); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100vh;
  background: #f9f9f9;
}

input::placeholder {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.ui.form ::-webkit-input-placeholder {
  color: #666;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.button__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.ui.form .field > label {
  font-weight: 400;
  font-size: 0.9rem;
}

.container {
  height: 100vh;
  width: 100%;
  background: #fff;
}

.header {
  position: relative;
  /* background: #1b046b; */
  background: #0a263b;
  z-index: 99;
  top: 0;
  height: 60px;
  width: 100%;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__item span::before {
  content: "";
  background-color: #54d38a;
  border: 1px solid #54d38a;
  height: 6px;
  width: 6px;
  margin-right: 6px;
  margin-bottom: 2px;
  border-radius: 50%;
  display: inline-block;
}

.header__item h4 {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  padding-bottom: 1px;
  margin: 0;
}

.header__item span {
  font-size: 0.8rem;
  color: #b3b3b3;
}

.header__inner-text {
  font-weight: 500;
  padding-bottom: 3px;
  color: #949ba3;
  font-size: 1.4rem;
}

.logo {
  height: 40px;
}

.row {
  width: 93%;
  margin: 0 auto;
}

@media only screen and (min-width: 500px) {
  .row {
    width: 97%;
    margin: 0 auto;
  }
}

.footer {
  border-top: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  padding: 12px 0.4rem;
  background: transparent;
  z-index: 8;
}

.footer__header {
  text-align: center;
  padding: 0.4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__header small {
  padding: 0.3rem 0.5rem;
  display: inline-block;
}

.footer__logo {
  width: 30px;
}

.footer .form {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
  position: relative;
}

.input {
  width: calc(100% - 60px);
  padding: 0.8rem 0.8rem 0.8rem 60px;
  border: none;
  border-radius: 7px;
  font-weight: 400;
  font-size: 0.9rem;
  color: #74787c;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  position: relative;
  display: inline-block;
}

.input:focus {
  outline: none;
}

.btn {
  padding: 1rem 0.8rem;
  background-color: #fff;
  font-size: 0.8rem;
  border: 1px solid #fff;
  /* box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.04), 3px 4px 9px rgba(0, 0, 0, 0.1); */
  color: #495057;
  font-weight: 300;
  /* letter-spacing: 0.12rem; */
  cursor: pointer;
  border-radius: 4px;
  /* white-space: nowrap; */
  /* display: block; */
  /* text-transform: uppercase; */
  font: inherit;
}

.btn.prev {
  margin-right: 1rem;
}

.modal .btn[type="submit"],
.modal .btn {
  background-color: #2141b8;
  color: #fff;
}

.btn:focus {
  outline: none;
}

.exam {
  width: 100px;
}

.btnSend[type="submit"] {
  /* background: #2185d0; */
  background: #114165;
  position: relative;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  box-shadow: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.btn.button--no-width {
  width: auto;
  padding: 0.4rem 1rem;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.6rem;
}

.btn[type="submit"] img {
  width: 25px;
  margin-left: 4px;
}

.avatar {
  width: 35px;
  border-radius: 3px;
  margin-right: 11px;
  border-radius: 50%;
  margin-bottom: 2px;
}

.chat-box {
  background: transparent;
  /* height: calc(100vh - 130px); */
  height: calc(100vh - 80px - 60px);
  position: absolute;
  width: 100%;
  overflow: auto;
}

.chat-box-container {
  background: url(/assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 58px);
}

.chat-box__text-wrapper {
  background: #afddff;
  padding: 0.6rem 1rem;
  /* box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.04), 3px 4px 9px rgba(0, 0, 0, 0.1); */
  font-size: 0.9rem;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  line-height: 1.2rem;
  color: #333;
  animation: scaleUp 300ms ease;
  transform-origin: right;
}

.chat-box-inner {
  min-height: 100%;
  overflow: auto;
}

.chat-box__wrapper {
  /* display: flex;
  align-items: flex-start;
  padding-top: 2rem */
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  padding-top: 0.8rem;
}

.chat-box__wrapper:last-child {
  padding-bottom: 3rem;
}

.chat-box__wrapper.left {
  justify-content: flex-start;
}

.chat-box__wrapper.left .btn {
  color: #fff;
  background-color: transparent;
  border: 1px solid #2185d0;
  color: #2185d0;
  margin-bottom: 5px;
}

.button-container .btn:first-child {
  margin-right: 10px;
  background: #afddff;
  border: 0;
  color: #333;
}

.chat-box__wrapper.left .chat-box__text-wrapper {
  background-color: #fff;
  color: #495057;
  position: relative;
  margin-left: 11px;
  box-shadow: 3px 3px 19px rgba(0, 0, 0, 0.25);
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.05); */
  transform-origin: left;
}

.chat-box__wrapper.left .chat-box__text-wrapper::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
  position: absolute;
  top: 0.7rem;
  left: -8px;
}

.chat-box__wrapper.right {
  justify-content: flex-end;
  padding-right: 20px;
}

.chat-box__wrapper.right .avatar {
  order: 2;
  margin-right: 0;
  margin-left: 22px;
  float: right;
  margin-bottom: 6px;
}

.chat-box__wrapper.right .chat-box__text-wrapper {
  position: relative;
  box-shadow: 3px 3px 19px rgba(0, 0, 0, 0.25);
  margin-right: 11px;
}

.chat-box__wrapper.right .chat-box__text-wrapper::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #afddff;
  position: absolute;
  top: 0.7rem;
  right: -8px;
  transform: rotate(180deg);
  transform-origin: center;
}

.chat-box__inner-wrapper {
  display: inline-block;
  max-width: 83%;
}

small {
  /* display: block;
  padding: 1rem 2.8rem; */
  color: #495057;
}

small img {
  width: 10px;
  margin-right: 15px;
}

/* TODO */
/* 
@media only screen and (max-width: 530px) {
  .button-container {
    flex-direction: row;
    align-items: flex-start;
  }
  .button-container .btn:first-child {
    margin-bottom: 12px;
  }
  .btn.button--no-width {
    width: 88%;
    padding: 0.8rem 2rem;
  }
  .modal .btn.button--no-width {
    width: 100%;
  }
  .btn.prev {
    margin-right: 0.15rem;
  }
} */

/* @media only screen and (min-width: 600px) {
  .btn {
    width: 200px;
  }
  input {
    width: calc(100% - 220px);
  }
  .chat-box__inner-wrapper {
    width: 80%;
  }
}

@media only screen and (min-width: 840px) {
  .chat-box__inner-wrapper {
    display: inline-block;
    max-width: 60%;
  }
}

@media only screen and (min-width: 940px) {
  .chat-box__inner-wrapper {
    display: inline-block;
    max-width: 60%;
  }
} */

.chat-box .btn:disabled {
  background-color: #e7edea;
  border: #e7edea;
  color: rgb(208, 208, 208);
  cursor: not-allowed;
  box-shadow: unset;
}

@media only screen and (max-width: 400px) {
  .header__inner-text span.powered {
    display: none;
  }
  .button-container {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  border-radius: 4px;
  border: 1px solid #888;
  width: 100%;
  max-width: 420px;
  margin: 100px auto 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-height: 580px;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 16px;
  }
  .modal-content {
    max-width: 100%;
    margin: 0;
    height: 100%;
  }
}

.modal-close {
  position: absolute;
  top: 2%;
  /* right: 3%; */
  z-index: 1000;
  width: 25px;
  height: 25px;
  background: #db2828;
  color: #fff;
  font-size: 1.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  cursor: pointer;
  visibility: hidden;
}

.modal-close:focus,
.modal-close:hover {
  background: #a71313;
  transform: scale(1.1);
}

.modal-back {
  position: absolute;
  top: 2%;
  left: 3%;
  z-index: 1000;
  width: 25px;
  height: 25px;
  background: #ddd;
  color: #333;
  font-size: 1em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.modal-back:focus,
.modal-back:hover {
  background: rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.modal-body {
  padding: 3rem 2rem;
  color: #495057;
  display: none;
  position: relative;
}

/* @media screen and (max-width: 700px) {
  .modal-body {
    min-height: initial;
  }
} */

.modal-body p {
  line-height: 1.5rem;
}

.modal-header h4 {
  margin: 0;
  letter-spacing: 0.07rem;
  padding: 0;
  font-weight: 300;
  text-transform: initial;
  color: #fff;
  text-transform: uppercase;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* @media only screen and (min-width: 720px) {
  .modal-content {
    width: 450px;
  }
} */

.center {
  text-align: center;
}

.center__ad {
  margin-left: 50%;
  transform: translateX(-50%);
  padding-top: 2em;
  white-space: nowrap;
}

.ui.basic.red.label {
  display: none;
}

#upload-file,
#image-file {
  opacity: 0;
  position: relative;
  z-index: -2;
}

.label-file img {
  width: 40%;
  padding: 1rem 0;
  cursor: pointer;
}

.label-image {
  background: #f8fafb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
}

.label-image img {
  width: 100px;
  padding-bottom: 0.7rem;
}

.space {
  padding: 1rem 0 2rem 0;
}

.top-space {
  padding-top: 4rem;
}

.ui.fluid.form h4 {
  line-height: 1.6rem;
  font-weight: 300;
  margin-bottom: 1.8rem;
}

/* .ui.checkbox label,
.ui.checkbox + label {
  line-height: 1.5rem;
} */

.counter {
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.4rem 0 0.1rem 0;
}

.modal .ui.selection.list .list > .item,
.modal .ui.selection.list > .item {
  padding: 0.8em 0.8em;
}

.ui.progress .bar {
  height: 0.5em !important;
}

.ui.selection.list .item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ui.horizontal.label,
.ui.horizontal.labels .label {
  margin: 0 0.9em 0 0 !important;
}

.ui.selection.list.list > .item,
.ui.selection.list > .item {
  background: #f7f7f7 !important;
  margin-bottom: 1rem !important;
  border-radius: 4px !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

.alertClass {
  position: absolute;
  width: 90%;
  top: -50px;
  left: 0px;
  z-index: 30;
  font-size: 13px;
  color: tomato;
  background: rgb(255, 255, 255, 0.88);
  line-height: 0.7;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #54d38a;
  padding: 14px;
  box-shadow: 0 0 15px 0 #54d38a;
  margin: 0 10px;
}

@media only screen and (min-width: 740px) {
  .chat-box__inner-wrapper {
    max-width: 60%;
  }
}

/* JUdes styles */

.three-dots-loader {
  position: relative;
  width: 100%;
  height: 125px;
  margin: auto;
  overflow: hidden;
}

.three-dots-loader .circle {
  width: 20px;
  height: 20px;
  background: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.three-dots-loader .circle:first-child {
  animation: bounce 1s infinite 0.4s alternate ease-in-out;
}

.three-dots-loader .circle:nth-child(2) {
  margin-left: -30px;
  background: #ddd;
  animation: bounce 1s infinite alternate ease-in-out;
}

.three-dots-loader .circle:nth-child(3) {
  margin-left: 30px;
  background: #bbb;
  animation: bounce 1s infinite 0.6s alternate ease-in-out;
}

.three-dots-loader.small {
  height: initial;
  width: initial;
  right: 50px;
  overflow: visible;
}

.three-dots-loader.small .circle {
  width: 8px;
  height: 8px;
}

.three-dots-loader.small .circle:nth-child(2) {
  margin-left: -12px;
  background: #ddd;
  animation: bounce 1s infinite alternate ease-in-out;
}

.three-dots-loader.small .circle:nth-child(3) {
  margin-left: 12px;
  background: #bbb;
  animation: bounce 1s infinite 0.6s alternate ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
  100% {
    transform: translate(-50%, -50%) translateY(-5px);
  }
}

.mt-1 {
  margin-top: 5px !important;
}

.mt-2 {
  margin-top: 10px !important;
}

.mt-3 {
  margin-top: 15px !important;
}

.mt-4 {
  margin-top: 20px !important;
}

.mt-5 {
  margin-top: 25px !important;
}

.ml-1 {
  margin-left: 5px !important;
}

.ml-2 {
  margin-left: 10px !important;
}

.ml-3 {
  margin-left: 15px !important;
}

.ml-4 {
  margin-left: 20px !important;
}

.mb-1 {
  margin-bottom: 5px !important;
}

.mb-2 {
  margin-bottom: 10px !important;
}

.mb-3 {
  margin-bottom: 15px !important;
}

.mb-4 {
  margin-bottom: 20px !important;
}

.mb-5 {
  margin-bottom: 25px !important;
}

.mr-1 {
  margin-right: 5px !important;
}

.mr-2 {
  margin-right: 10px !important;
}

.mr-3 {
  margin-right: 15px !important;
}

.mr-4 {
  margin-right: 20px !important;
}

.grid {
  display: grid;
  grid-gap: 10px;
}

.grid.two {
  grid-template-columns: repeat(2, 1fr);
}

.grid.three {
  grid-template-columns: repeat(3, 1fr);
}

.grid.four {
  grid-template-columns: repeat(4, 1fr);
}

.grid.five {
  grid-template-columns: repeat(5, 1fr);
}

.section-title {
  font-size: 1rem;
  color: #343a40;
  margin: 0;
  font-weight: 600;
  /*font-weight: 600;*/
  /*letter-spacing: 0.5px;*/
}

.flex {
  display: flex !important;
}

.flex-inline {
  display: inline-flex !important;
}

.flex-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-around {
  justify-content: space-around !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-stretch {
  justify-content: stretch !important;
}

.align-start {
  align-items: start !important;
}

.align-end {
  align-items: flex-end !important;
}

.align-center {
  align-items: center !important;
}

.align-stretch {
  align-items: stretch !important;
}

.flex-1 {
  flex: 1 !important;
}

.flex-2 {
  flex: 2 !important;
}

.flex-3 {
  flex: 3 !important;
}

.inline-block {
  display: inline-block;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.text-center {
  text-align: center !important;
}

.para-title {
  font-size: 1.15rem;
  color: #343a40;
  font-weight: 600;
  line-height: 1.6rem !important;
}

.para-title.shrink {
  max-width: 210px;
  margin: 0 auto;
  text-align: center;
}

.para-body {
  font-size: 1rem;
  color: #343a40;
  font-weight: 400;
}

.link {
  font-size: 0.89rem;
  color: #343a40c1;
  font-weight: 600;
}

.empty-box {
  height: 80px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
}

.box {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1rem;
}

ul.list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

ul.list li {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.list.small li {
  padding: 0.5rem 0;
}

/* ul.list li:last-child {
  border: 0;
  padding-bottom: 0;
} */

ul.list li span:first-child {
  text-align: left;
}

ul.list li span:nth-child(2) {
  font-weight: 600;
  color: #222222;
  text-align: right;
}

.modal-content {
  border: 0;
  overflow: hidden;
  overflow-y: auto;
}

.modal-body {
  position: static;
}

.modal-icon {
  margin-bottom: 15px;
  z-index: 2;
}

.modal-icon img {
  width: 100px;
}

.inner-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.inner-modal-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  border-radius: 30px 30px 0 0;
  background-color: #fff;
  padding: 2.5rem 2rem 1.5rem;
  transition: all 0.7s ease-in-out !important;
  animation: slideUp 300ms ease;
}

.family-info > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: top;
}

.family-info .verified-icon {
  position: absolute;
  top: 3%;
  left: 2%;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.3);
}

.family-info .verified-icon img {
  width: 30px;
}

.icon-text {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-text .icon {
  width: 60px;
  margin-bottom: 20px;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.ui.form .field > label {
  display: none;
}

.ui.form .field > input,
.ui.form .field > select,
.ui.form .field > textarea {
  border: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
  border-radius: 0 !important;
  padding: 1rem 0 !important;
}
/* input:invalid {
  border-bottom: 1px solid red !important;
} */

.ui.form .field > input:focus,
.ui.form .field > select:focus,
.ui.form .field > textarea:focus {
  border-bottom: 2px solid rgb(77, 132, 220) !important;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

.chat-box__inner-wrapper .avatar {
  width: 40px;
  background: #999;
  border: 5px solid #999;
}

.z-index-2 {
  z-index: 2;
}

.read-indicator {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 0.6rem;
  color: #2a9a0d;
}

.font-weight-bold {
  font-weight: 600;
}

.ui.checkbox .box:before,
.ui.checkbox label:before {
  border: 2px solid #c3c3c3;
}
