

.bolded{
    display: flex;
    justify-content: center;
}

.loan_information{
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.housing_for_loan_amount{
    display: block;
}

.housing_for_loan_amount:first-child{
    align-self: flex-start;
}

.loan_amount{
    font-weight: 500;
}

.addFlexBehavior{
    transition: all 0.5s ease;
    transform: scale(1) translateY(0);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.addFlexBehavior:hover{
    transform: scale(1.05) translateY(-5px);
}

.flexed{
    display: flex !important;
    justify-content: space-between !important;
}

.sorry__title > p{
    font-weight: bold;
}