<div class="supportPage">
  <div><img src="../../assets/images/handshaking2.svg" alt="" /></div>
  <p>
    How much do you want to support with?
  </p>

  <form>
    <div class="ui form">
      <div class="field">
        <!-- <label>Name</label> -->
        <input type="number" placeholder="First Name" />
      </div>
    </div>
    <!--  9A99DE -->
    <button
      (click)="startSearching()"
      type="submit"
      class="fluid ui primary button"
    >
      Next <i hidden class="fas fa-circle-notch fa-spin"></i>
    </button>
  </form>
</div>
