.supportPage {
  display: -webkit-box;
  display: flex;
  position: relative;
  padding-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-content: center;
  height: 520px;
  overflow: hidden;
}

.supportPage > div {
  display: flex;
  justify-content: center;
}

.supportPage img {
  height: 100px;
  text-align: center;
}

.supportPage p {
  text-align: center;
  margin: 40px auto;
}
button {
  background: #9a99de;
}

form .form {
  padding: 20px 0px;
}

.smallNotification {
  position: absolute !important;
  display: flex;
  justify-content: center;
  margin: 0 auto !important;
  width: 80% !important;
  height: 30px !important;
  border: 1px solid rgba(255, 99, 71, 0.3) !important;
  top: 0 !important;
  border-radius: 3px !important;
  background: rgba(255, 99, 71, 0.5) !important;
  color: #fff !important;
  text-align: center;
  align-items: center;
}

.money-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  padding: 10px 10px;
  transition: display 1s ease-in-out;
  width: 90%;
  margin: auto;
}

.money-boxes .box {
  margin: 0;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.money-boxes .box:hover {
  background: rgba(72, 108, 216, 0.156);
}
/* .moneyBoxes p {
  text-align: center;
  padding: 1rem 1rem;
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 4px;
  font-size: 1.1rem;
  margin-bottom: 0;
  color: #2185d0;
  cursor: pointer;
} */

.goBack {
  margin-top: 10px;
  text-decoration: underline;
  color: tomato;
  cursor: pointer;
}
