.supportPage {
  display: -webkit-box;
  display: flex;
  position: relative;
  padding-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-content: center;
  height: 520px;
  overflow: hidden;
}

.supportPage > div {
  display: flex;
  justify-content: center;
}

.supportPage img {
  height: 100px;
  text-align: center;
}

.supportPage p {
  text-align: center;
  margin: 40px auto;
}
button {
  background: #9a99de;
}

form .form {
  padding: 20px 0px;
}

.smallNotification {
  position: absolute !important;
  display: flex;
  justify-content: center;
  margin: 0 auto !important;
  width: 80% !important;
  height: 30px !important;
  border: 1px solid rgba(255, 99, 71, 0.3) !important;
  top: 0 !important;
  border-radius: 3px !important;
  background: rgba(255, 99, 71, 0.5) !important;
  color: #fff !important;
  text-align: center;
  align-items: center;
}
