<div class=" h-100 text-center family-info" *ngIf="page == ''">
  <h1 class="para-title">
    We will like to check if you can repay. Please fill in your bank information
  </h1>

  <form [formGroup]="bankAccountForm" class="w-100" style="position: relative">
    <div class="ui form">
      <div class="field">
        <label>Bank Name</label>
        <select
          style="height: auto;"
          class="ui fluid search dropdown"
          name="card[expire-month]"
          formControlName="bank_code"
        >
          <option value="" selected>Providus Bank</option>
          <option [value]="bank?.bank_code" *ngFor="let bank of banks; index as i">
            {{ bank?.name }}
          </option>
        </select>
        <div *ngIf="bankName.touched && bankName.invalid" class="ng-invalid ng-touched">
          <small style="color: #f10b0b9d;" *ngIf="bankNameIsRequired()">
            Your Bank Name is required!</small>
        </div>
      </div>

      <div class="field">
        <label>Account number</label>
        <input (blur)="checkAccountDetailsEntered()" type="tel" pattern="[0-9]{10}" 
        formControlName="account_number"
        placeholder="Enter accounter number eg: 001345898" />
        <div *ngIf="accountNumber.touched && accountNumber.invalid" class="ng-invalid ng-touched">
          <small style="color: #f10b0b9d;">
            Your account number is required and has to be 10 digits!</small>
        </div>
      </div>

      <div class="field">
        <label>Account name</label>
        <input  formControlName="account_name" type="text" placeholder="eg: Chukwuka Hassan Oluwatope" readonly />
      </div>
    </div>
<!--  (click)="page = 'info'" -->
    <div class="text-center mt-4">
      <button
        (click)="submitAccountDetailsForm(bankAccountForm)"
        type="button"
        class="ui primary button fluid"
      >
        Continue
      </button>
    </div>
    <div *ngIf="spinner" class="spinner-container">
      <i class="fa fa-circle-notch fa-spin fa-3x"></i>
    </div>
  </form>
</div>

<div class=" h-100 text-center family-info" *ngIf="page == 'info'">
  <h1 class="para-title">
    We have partnered with Creditclan and Mono to analyze your transactions
  </h1>

  <div class="text-center mt-4">
    <button
      type="button"
      (click)="page = 'PIN'"
      class="ui button primary basic mt-4"
    >
      Begin
    </button>

    <button type="button" class="ui button primary basic mt-4">
      Later
    </button>
  </div>
</div>

<div class=" h-100 text-center family-info" *ngIf="page == 'PIN'">
  <h1 class="para-title">
    Enter a 4 digit pin
  </h1>

  <form class="w-100" style="position: relative">
    <div class="ui form">
      <div class="field">
        <label>PIN</label>
        <input type="text" placeholder="Eg: someone@someone.com" />
      </div>
    </div>

    <div class="text-center mt-4">
      <button
        (click)="page = 'attach-card'"
        type="submit"
        class="ui button primary basic mt-4"
      >
        Save and continue
      </button>
    </div>
  </form>

  <!-- <div *ngIf="spinner" class="spinner-container">
    <i class="fa fa-circle-notch fa-spin fa-3x"></i>
  </div> -->
</div>

<div class=" h-100 text-center family-info" *ngIf="page == 'attach-card'">
  <h1 class="para-title">
    Attach Card details
  </h1>

  <form class="w-100" style="position: relative">
    <div class="ui form">
      <div style="margin-bottom: 0.5rem;" class="field">
        <label>Name on Card</label>
        <input  style="padding: 0.7rem 0 !important;" type="text" placeholder="Eg: Oke Tunde" />
      </div>
    </div>
    <div class="ui form">
      <div style="margin-bottom: 0.5rem;" class="field">
        <label>Card Number</label>
        <input  style="padding: 0.7rem 0 !important;" type="text" placeholder="Eg: 45450907890908934597" />
      </div>
    </div>
    <div class="ui form">
      <div style="margin-bottom: 0.5rem;" class="field">
        <label>Security </label>
        <input  style="padding: 0.7rem 0 !important;" type="text" placeholder="Eg: 521" />
      </div>
    </div>
    <div class="ui form">
      <div style="margin-bottom: 0.5rem;" class="field">
        <label>Expiry date</label>
        <div style="display: flex; gap: 5px">
          <select
            style="height: auto; padding: 0.7rem 0 !important;"
            class="ui fluid search dropdown expiryMonth"
            name="card[expire-month]"
          >
            <option value="" selected>Month</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>

          <select
            style="height: auto; padding: 0.7rem 0 !important;"
            class="ui fluid search dropdown expiryYear"
            name="card[expire-month]"
          >
            <option value="" selected>Year</option>
            <option value="2016">16</option>
            <option value="2017">17</option>
            <option value="2018">18</option>
            <option value="2019">19</option>
            <option value="2020">20</option>
            <option value="2021">21</option>
            <option value="2022">22</option>
            <option value="2023">23</option>
            <option value="2024">24</option>
            <option value="2025">25</option>
            <option value="2026">26</option>
            <option value="2027">27</option>
            <option value="2028">28</option>
            <option value="2029">29</option>
            <option value="2030">30</option>
          </select>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <button disabled type="submit" class="ui button primary basic mr-3">
        Save
      </button>
      <button
        (click)="completeThis()"
        type="submit"
        class="ui button primary basic"
      >
        Let's do this later
      </button>
    </div>
  </form>

  <!-- <div *ngIf="spinner" class="spinner-container">
    <i class="fa fa-circle-notch fa-spin fa-3x"></i>
  </div> -->
</div>
